<table cellpadding="0" cellspacing="0" style="border-radius:4px;margin:0;padding:0;width:100%;max-width:664px;border:1px solid #dadedf" border="0">
<tbody><tr><td style="padding:40px 40px 37px 40px;background-color:#f5f6f7;border-bottom:1px solid #dadedf"><table cellpadding="0" cellspacing="0" style="padding:0;width:100%;margin:0;text-align:left" border="0"><tbody><tr><td><img src="http://cyf-app.co/img/logo_black.png"></td></tr></tbody></table></td></tr>
<tr><td style="font-size:18px;color:#47515d;border-bottom:1px solid #dadedf;padding:36px 40px 40px 40px;font-family:Arial,Verdana,sans-serif;text-align:left">Hi ' + user.local.pseudo + ',<br><br>Welcome to Challenge Your Friends

<br><br>- The Team</td></tr>
<tr><td style="padding:40px;background-color:#f5f6f7"><table cellpadding="0" cellspacing="0" style="padding:0;width:100%;margin:0;text-align:left" border="0"><tbody><tr>
<td style="color:#92999f;width:100%;font-size:14px;font-family:Arial,Verdana,sans-serif;padding-right:40px">Challenge your Friends (CyF) is a new service which allows you to receive and send challenge to gamers around the world on any game.<a style="color:#0bacff;text-decoration:none" href="https://www.carousel.com" target="_blank"><u></u>Learn more<u></u></a>
</td>
<td><img src="https://ci6.googleusercontent.com/proxy/yW3ouM2f92SEwptRMUvyeZvXuI8aP_QHNgJcZRrAwi_bR-5H840NzKFDMXMvnELsyCGj1iEihqnBYVbT_l9HR-q4UIo_ma3q_Z4ALUQLuhOK0cRFPXGpUTv50xQ=s0-d-e1-ft#https://www.dropbox.com/static/images/carousel/db_logo_grey_footer.png"></td>
</tr></tbody></table></td></tr>
</tbody></table>