<!doctype html>
<html>
<head>
    <% include statics/headers %>

    <!-- Start General metas -->
    <meta name="url" content="http://challenge-friends.herokuapp.com">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="Challenge or be challenged by your friends and gamers">
    <meta name="description" content="Launch challenge to your friends and players around the world, on any game at any time and from anywhere! Become a true champion and find back your initial enjoyement of playing games.">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="website"> <!-- website/article/profile -->
    <meta property="og:url" content="http://challenge-friends.herokuapp.com">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://challenge-friends.herokuapp.com/img/icon_big.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="750">
    <meta property="og:image:height" content="315">
    <meta property="og:title" content="Challenge or be challenged by your friends and gamers">
    <meta property="og:description" content="Launch challenge to your friends and players around the world, on any game at any time and from anywhere! Become a true champion and find back your initial enjoyement of playing games">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://challenge-friends.herokuapp.com/img/icon_big.png">
    <meta name="twitter:title" content="Challenge or be challenged by your friends and gamers">
    <meta name="twitter:description" content="Tired of playing the same game every day, but still loving it? Join Challenge your Friends today and start accepting and launching in-game challenges right away! Works with ANY game.">
    <meta name="twitter:image:width" content="750">
    <!-- Twitter card end -->

    <link rel="stylesheet" type="text/css" href="./css/landing.css">
    <title>Challenge your Friends</title>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" id="headNav" role="navigation">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-ellipsis-v"></i>
          </button>
            <a class="navbar-brand animated flipInX" href="./">
                    <img src="./img/logo.png" alt="go home">
            </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="animated fadeInX"><a href="/signup">Become a challenger</a></li>
            <li class="animated fadeInX"><a href="/login">Challenger entrance</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        </div>
    </div>
  
  <div class="canvas">
    
    <section class="container">
          <div class="row">
          <div class="col-md-12">
              <h2>About</h2>
              <p>
                Developped to entertain people!
              </p>
              <h2>Games Providers</h2>
              <p>
                “This product is not endorsed, certified or otherwise approved in any way by Riot Games, Inc. or any of its affiliates.”
              </p>
              <p>
                Challenge your Friends (CyF) isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
              </p>
          </div>
          </div>
      </div>
    </section>
  </div>
</body>
</html>