<!doctype html>
<html>
<head>
    <% include statics/headers %>

    <!-- Start General metas -->
    <meta name="url" content="http://www.cyf-app.co">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="contact, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="Challenge or be challenged by your friends and gamers">
    <meta name="description" content="Launch challenge to your friends and players around the world, on any game at any time and from anywhere! Become a true champion and find back your initial enjoyement of playing games.">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="website"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.cyf-app.co">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://www.cyf-app.co/img/icon_big.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="750">
    <meta property="og:image:height" content="315">
    <meta property="og:title" content="Challenge or be challenged by your friends and gamers">
    <meta property="og:description" content="Launch challenge to your friends and players around the world, on any game at any time and from anywhere! Become a true champion and find back your initial enjoyement of playing games">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://www.cyf-app.co/img/icon_big.png">
    <meta name="twitter:title" content="Challenge or be challenged by your friends and gamers">
    <meta name="twitter:description" content="Tired of playing the same game every day, but still loving it? Join Challenge your Friends today and start accepting and launching in-game challenges right away! Works with ANY game.">
    <meta name="twitter:image:width" content="750">
    <!-- Twitter card end -->

    <link rel="stylesheet" type="text/css" href="./css/landing.css">
    <title>Contact - Challenge your Friends</title>
</head>
<body>
  <% include statics/navTop %>
  <div class="canvas">
    
    <section class="container">
          <div class="row">
          <div class="col-md-12">
              <h2>Contact us</h2>
              <p>You can reach us out easily here:</p>
              <ul class="list-unstyled">
                <li>
                  <a href="https://twitter.com/cyf_app"><i class="fa fa-twitter"></i> On twitter @cyf_app</a>
                </li>
                <li>
                  <a href="https://www.facebook.com/cyfapp"><i class="fa fa-facebook"></i> On facebook @cyfapp</a>
                </li>
                <li>
                  <a href="mailto:cyf.app@gmail.com"><i class="fa fa-inbox"></i> By mail cyf.app@gmail.com</a>
                </li>
              </ul>
          </div>
          </div>
    </section>
  </div>
    <% include statics/footers %>
</body>
</html>