<!doctype html>
<html>
<head>

    <% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.challenge-friends.com">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="Discover Challenge your Friends">
    <meta name="description" content="Launch challenge to your friends and players around the world, on any game at any time and from anywhere! Become a true champion and find back your initial enjoyement of playing games.">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="article"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.challenge-friends.com">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://www.challenge-friends.com/img/twitt_card.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="750">
    <meta property="og:image:height" content="315">
    <meta property="og:title" content="Discover Challenge your Friends">
    <meta property="og:description" content="Launch challenge to your friends and players around the world, on any game at any time and from anywhere! Become a true champion and find back your initial enjoyement of playing games.">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://www.challenge-friends.com/img/twitt_card.png">
    <meta name="twitter:image:width" content="750">
    <meta name="twitter:title" content="Discover Challenge your Friends">
    <meta name="twitter:description" content="Launch challenge to your friends and players around the world, on any game at any time and from anywhere! Become a true champion and find back your initial enjoyement of playing games.">
    <!-- Twitter card end -->
    <link rel="stylesheet" type="text/css" href="./css/landing.css">
    <title>Discover Challenge your Friends</title>
</head>
<body>
  <div id="skrollr-body">

  <div class="navbar navbar-default navbar-top" id="headNav" role="navigation">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-ellipsis-v"></i>
          </button>
            <a class="navbar-brand animated flipInX" href="./">
                    <img src="./img/logo.png" alt="go home">
            </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="animated fadeInX"><a href="/signup">Become a challenger</a></li>
            <li class="animated fadeInX"><a href="/login">Challenger entrance</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        </div>
    </div>

    <section id="slide-1" class="homeSlide">
      <div class="container">
          <div class="row animated fadeIn">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#truechampion" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                  <div class="item active">
                    <img src="./img/landing_1.jpg" alt="ahahah">
                    <div class="carousel-caption"></div>
                  </div>
                  <div class="item">
                    <img src="./img/landing_1_2.jpg" alt="ahahah">
                    <div class="carousel-caption"></div>
                  </div>
                  <div class="item">
                    <img src="./img/landing_1_3.jpg" alt="ahahah">
                    <div class="carousel-caption"></div>
                  </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
          </div>
      </div>
    </section>
    <section id="slide-3" class="skrollable" 
              data-top-bottom="background-position: 30% 100%;opacity: 0" 
              data-top="opacity: 1;background-position: 60% 100%;"
              data-bottom="opacity: 1;"
              data-bottom-top="background-position: 100% 100%;opacity: 0;"
              data-anchor-target="#slide-3">
            <div class="container skrollable" 
              data-top-bottom="opacity: 1"
              data-bottom="opacity: 1"
              data-center-center="opacity: 1"
              data-bottom-top="opacity: 0.5"
              data-anchor-target="#slide-3 .container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-center">
                    <a href="./signup" class="btn btn-primary btn-lg btn-block youSeeMeRollin"><span class="animated">BECOME A CHALLENGER NOW</span></a>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <h3>Answering a simple issue every gamer has or will once meet</h3>
                      
                        <p><i class="fa fa-quote-left fa-2x pull-left"></i> <em>I have been playing this for so long, I don't even find anything challenging in this game... The routine has taken away the first excitment I got from this game... Sigh! </em></p>
                      <p> We believe that each game can have even more than the basic in-game content.</p>
                      <p>Accept challenges from others players will provide you a new way of entertainment for every game you play! Yes, <strong>every game</strong>.
                      </p>
                      <hr>
                      <h3>Cross-plateform, multigaming</h3>
                      <p>You can use CyF anywhere (mobile or desktop), at anytime, with any support (consoles or computers) and with any game (as long as you can take screenshots). <strong>Awesome!</strong></p>
                      <p></p>
                      <hr>
                      <h3>A rewarding experience</h3>
                      <div class="row">
                        <ul class="fa-ul col-md-6  col-lg-6">
                          <li><h4>Your very own place as any online RPG</h4></li>
                          <li><i class="fa-li fa fa-certificate"></i> Many Badges to unlock! <small>(comming soon)</small></li>
                          <li><i class="fa-li fa fa-level-up"></i> Complete Level system, compete with others in real time</li>
                          <li><i class="fa-li fa fa-user"></i> Rich profie with the possibility to link accounts (twitter, facebook, google+)</li>
                        </ul>
                        <ul class="fa-ul col-md-6  col-lg-6">
                          <li><h4>Endless competitive arena</h4></li>
                          <li><i class="fa-li glyphicon glyphicon-tower"></i> Create your own challenges</li>
                          <li><i class="fa-li fa fa-list-ol"></i> Daily, weekly and monthly rankings: everyone can reach the top!</li>
                          <li><i class="fa-li fa fa-fire"></i> Challenges are not all equals, can you achieve the hardest ones?</li>
                        </ul>
                        
                      </div>
                      <hr>
                      <h3>Easy to use and fun!</h3>
                      <p>Using CyF is really simple, just <a href="./register">create an account</a> (or <a href="./login">login</a>) and start your journey now!</p>
                      <p><i class="glyphicon glyphicon-flash bluelight"></i> <strong class="bluelight">Launching a challenge: </strong> Simply select a challenge, a friend and when the challenge start and...that's it! You just have to wait for the challenged to accept your challenge and give it a go!</p>
                      <p><i class="fa fa-thumbs-o-up bluelight"></i> <strong class="bluelight">Taking up a new challenge: </strong> Accept the challenge, give it a try and, if you succeed in completing in within the deadline <strong>take a screenshot</strong> (or 2) and send them back to the gamer who challenged you !</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <a href="./signup" class="btn btn-primary btn-lg btn-block youSeeMeRollin"><span class="animated">BECOME A CHALLENGER NOW</span></a>
                    </div>
                </div>
            </div>
    </section>
    <section id="slide-2">
        <div class="bcg skrollable" 
        data-top-bottom="background-position: 100% 100%;" 
        data-top="opacity: 1;background-position: 80% 100%;"
        data-bottom="opacity: 1;background-position: 50% 100%;"
        data-bottom-top="background-position: 30% 100%;opacity: 0;"
        data-anchor-target="#slide-2 .bcg">
            <div class="container skrollable" 
              data-top-bottom="opacity: 0"
              data-top="opacity: 1"
              data-bottom="opacity: 1"
              data-bottom-top="opacity: 0"
              data-anchor-target="#slide-2 .container">
                <div class="row">
                    <div class="col-md-12">
                          <h3>There is no RNG here, only pure SKILL</h3>

                          <div class="row">
                            <ul class="fa-ul col-md-4">
                              <li><h4>Players against Players, no rng</h4></li>
                              <li><i class="fa-li fa fa-edit"></i> Create new challenges</li>
                              <li><i class="fa-li fa fa-gamepad"></i> Launch challenges to your friends</li>
                              <li><i class="fa-li fa fa-signal"></i> Rate the challenges you've completed</li>
                            </ul>
                            <ul class="fa-ul col-md-4">
                              <li><h4>Awesomes features</h4></li>
                              <li><i class="fa-li fa fa-twitter"></i> Auto-Share on social networks</li>
                              <li><i class="fa-li fa fa-align-justify"></i> Live timeline: see what's happening in live</li>
                              <li><i class="fa-li fa fa-chain"></i> Import your League of Legend account <small>(alpha)</small></li>
                            </ul>
                            <ul class="fa-ul col-md-4">
                              <li><h4>Fairness &amp; fun ensured</h4></li>
                              <li><i class="fa-li fa fa-star"></i>Daily, Weekly, Monthly and Global ladders</li>
                              <li><i class="fa-li fa fa-gavel"></i> Tribunal: no more rage, if you win, you win</li>
                              <li><i class="fa-li fa fa-bar-chart-o"></i> Detailed challengers' statistics and historics</li>
                            </ul>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <hr>
                    <h3>Testimonies</h3>
                    <div class="row">
                      
                      <ul class="media-list col-md-6">
                      <!-- Load latest testimonies colA -->

                        <li class="media">
                          <div class="media-body">
                            <h4 class="media-heading">Darxus - <em>League of Legend</em> <small class="pull-right">5 Apr, 2014</small></h4>
                            <p>I was tired playing League of Legend, but thanks to your website I found a new way to enjoy playing! The "teemo win strike" is particularly fun :D. <strong>I love it!</strong></p>
                          </div>
                        </li>

                        <li class="media">
                          <div class="media-body">
                            <h4 class="media-heading">Aessa - <em>League of Legend</em> <small class="pull-right">4 Apr, 2014</small></h4>
                            <p>Not a long time ago I stopped playing my favorite game League of Legend because I got tired of doing aram games or playing with no goal (I'm not that good :'( ). But when I eard about your site I gave it a try and <strong>WOW</strong>. It's as you said, I found back my game's joyce :D. Hurray! I love the way it works and how simple it is to use, thank you again!!!</p>
                          </div>
                        </li>

                      </ul>
                      <ul class="media-list col-md-6">
                      <!-- Load latest testimonies colB -->

                        <li class="media">
                          <div class="media-body">
                            <h4 class="media-heading">Lanïane - <em>Call of Duty</em> <small class="pull-right">4 Apr, 2014</small></h4>
                            <p>I love playing COD and first person shooters. At first I though that CyF was dedicated to League of legend but <strong>it is not!</strong> Believe me, it's really fun to use and I like throwing challenges to the friends I had and I made here :D. Well, I'm not the highest ranked but I believe I'll be able to reach the top 10 in the Monthly Ladder, that's my current goal!</p>
                          </div>
                        </li>

                        <li class="media">
                          <div class="media-body">
                            <h4 class="media-heading">Kelek - <em>Dota 2</em> <small class="pull-right">3 Apr, 2014</small></h4>
                            <p>I have been playing Dota forever, since the Warcraft III. I love this game, I never get tired of it!
                            But even if ladders and competitions are fun and challenging, I think that Challenge your Friends allows you to take a new approach of the game by focusin of other aspects. My favorite challenge is "Killing machine", which consist of destroying at least 12 opponents' champions in a game, quite challenging but it give me a good amount of experience when I succeed!</p>
                          </div>
                        </li>

                      </ul>
                    </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <a href="./signup" class="btn btn-danger btn-lg btn-block youSeeMeRollin"><span class="animated">BECOME A CHALLENGER NOW</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
    

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/skrollr.min.js"></script>

<script type="text/javascript">
    $(function () {
          skrollr.init({forceHeight: false});

          var rolling = setInterval( function() {
        var texts = ['NEW CHALLENGE: JOIN THE ARENA','BECOME A CHALLENGER NOW','READY TO BEGIN YOUR JOURNEY?','READY TO REVIVE YOURSELF?']
            var datText = texts[Math.floor(Math.random()*texts.length)];
              $('.youSeeMeRollin > span').addClass('fadeOutLeft');

              $('.youSeeMeRollin > span').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                $(this).text(datText).removeClass('fadeOutLeft').addClass('fadeInRight');
              });

            }, 5000);
    });

</script>

</body>
</html>