<!doctype html>
<html>
<head>

	<% include statics/headers %>
	<link rel="stylesheet" type="text/css" href="./css/landing.css">
	<title>Challenge your Friends</title>
</head>
<body>

	<div class="navbar navbar-default navbar-static-top" id="headNav" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-ellipsis-v"></i>
				</button>
				<a class="navbar-brand animated flipInX" href="./">
					<img src="./img/tinylogo.png" >
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active animated fadeInX"><a href="/profile">Home</a></li>
					<li class="animated fadeInX"><a href="/leaderboard">LeaderBoard</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="animated fadeInX"><a href="/signup">Become a challenger</a></li>
					<li class="animated fadeInX"><a href="/login">Challenger entrance</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

	<div class="container"  id="skrollr-body" data-0="background-color:rgb(0,201,147);"data-400="background-color:rgb(74,173,255);" data-1000="background-color:rgb(74,173,255);"data-1300="background-color:rgb(0,201,147);">
		<div class="row">
			<div class="container">
				<div class="col-md-12">
					<div id="landing" class="clearfix row">

						<h1 class="animated fadeInDown text-left">Add a new flavor to any of your favorite game today</h1>

						<form class="animated fadeInUp col-md-12" role="form">
							<div class="row">
								<div class="col-md-4 col-md-offset-3 form-group">
									<input type="text" class="form-control" placeholder="email">
								</div>
								<div class="col-md-2 form-group">
									<button type="submit" id="eReg" class="btn grapefruit btn-md animated bounce">Ask an alpha Access</button>
								</div>
							</div>
						</form>

					</div>
					<a class="arrow" href="#meet-friends"><i class="fa fa-chevron-circle-down animated fadeIn"></i></a>
				</div>
			</div>

		</div>
	</div>

	<div class="section" id="sect1">
		<div class="anchor" id="meet-friends"></div>
		<div id="hiddenIcon">
			<i class="icon-mobile-phone"></i>
		</div>
		<div id="phone" data-0="margin-left: -20%; opacity:0" data-350="margin-left: 10%; opacity:1">

			<div id="topBar">
				<p>Challenge  <i class="fa fa-bookmark"></i>         </p>
			</div>
			<div id="screen"> 

			</div><!--/ screen-->
		</div><!--/ phone-->
		<div class="explanation" data-300="opacity: 0" data-350="opacity: 1">
			<h2>They have mobile maps</h2>
			<p>Ancient alien helicopter heiroglyph DNA manipulation petroglyph targeted mutation electromagnetic Ezekiel, pre-colonial aerodynamics the vedas King Soloman golden disk SETI.</p>
			<a class="arrow" href="#anchor2"><i class="fa fa-chevron-circle-down"></i></a>
		</div><!--/ explanation-->
	</div><!--/ sect1-->

	<div class="section" id="sect2">
		<div class="anchor" id="anchor2"></div>
		<div id="hiddenIcon">
			<i class="icon-twitter"></i>
		</div>
		<div id="twitter"  data-600="margin-top: -20%; opacity: 0" data-1000="margin-top: 0; opacity:1">
			<i class="icon-twitter"></i>
		</div>
		<div class="explanation" data-850=" opacity: 0" data-900=" opacity:1">
			<h2>They use Twitter</h2>
			<p>Pyramids legendary times sanskrit Giorgio, choral castle grey crystal skull burmuta triangle.</p>
			<a class="arrow" href="#anchor3"><i class="fa fa-chevron-circle-down"></i></a>
		</div><!--/ explanation-->
	</div><!--sect2-->

	<div class="section" id="sect3">
		<div class="anchor" id="anchor3"></div>
		<div id="hiddenIcon">
			<i class="icon-rocket icon-rotate-180"></i>
			<p></p>
		</div>
		<div class="explanation-right" data-1350=" opacity: 0" data-1400=" opacity:1">
			<h2>They are almost here!</h2>
			<p>Leave your email address and we will notify you when we see them</p>

			<!-- Begin MailChimp Signup Form -->

			<div id="mc_embed_signup">
				<form action="http://mapnaut.us7.list-manage.com/subscribe/post?u=169050f89a7a9edd97421276f&amp;id=8ff8ab85ce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="me@example.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'me@example.com'" required>
					<div><input type="submit" value="Get on board" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</form>
			</div>

			<!--End mc_embed_signup-->
		</div><!--/ explanation-->
		<div id="rocket" data-1100="margin-top:-300px; margin-right:0%; opacity: 0" data-1400="margin-top:50; margin-right:20%; opacity:1">
			<i class="icon-rocket icon-rotate-180"></i>
		</div><!--/ rocket-->
	</div><!--sect2-->
	<div class="section" id="footer">
		<p> thank you and follow <a href="https://twitter.com/damianogui">@damianogui</a></p>
	</div>
</div><!--/ band-->

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/skrollr.min.js"></script>
<script type="text/javascript" src="./js/skrollr.min.js"></script>
<script type="text/javascript" src="./js/landing.js"></script>

<script type="text/javascript">
	$(function () {

	});

</script>

</body>
</html>