<!doctype html>
<html>
<head>

	<% include statics/headers %>
	<title>Node Authentication</title>
</head>
<body>

	<% include statics/navTopFix %>
	<div class="canvas">
		<div class="container">

			<div class="jumbotron text-center">
				<h1><span class="fa fa-lock"></span> Node Authentication</h1>

				<p>Login or Register with:</p>

				<a href="/login" class="btn btn-punch btn-default"><span class="fa fa-user"></span> Local Login</a>
				<a href="/signup" class="btn btn-punch btn-default"><span class="fa fa-user"></span> Local Signup</a>
			</div>
		</div>
	</div>

	<% include statics/footersFix %>
</body>
</html>