<!doctype html>
<html>
<head>

	<% include statics/headers %>
	<link rel="stylesheet" type="text/css" href="./css/landing.css">
	<title>Challenge your Friends</title>
</head>
<body>

	<div class="navbar navbar-default landing navbar-static-top" id="headNav" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-ellipsis-v"></i>
				</button>
				<a class="navbar-brand animated flipInX" href="./">
					<img src="./img/tinylogo.png" >
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active animated fadeInX"><a href="/profile">Home</a></li>
					<li class="animated fadeInX"><a href="/leaderboard">LeaderBoard</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="animated fadeInX"><a href="/signup">Become a challenger</a></li>
					<li class="animated fadeInX"><a href="/login">Challenger entrance</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

	<section id="slide-1" class="homeSlide">
		<div class="bcg skrollable" data-center="background-position: 0% 0%;" data-top-bottom="background-position: 50% 0;" data-anchor-target="#slide-1">
			<div class="hsContainer animated flipInX">
				<div class="hsContent">
					<div class="container text-right">
						<h5>Challenge Friends and compete</h5>
						<h5>Gather experience and level up</h5>
						<h5>Try to reach the top of the ladder</h5>

					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="slide-2">
		<div class="bcg skrollable " data-220-top="background-color:rgb(250,250,250);" data--100-bottom="background-color:rgb(6,2,3);" data-anchor-target="#slide-2">
			<div class="hsContainer">
				<div class="hsContent">
					<div data-220-top="opacity: 1" data--100-bottom="opacity: 0" data-anchor-target="#slide-2" class="skrollable">
						<h2 class="animated flipInX">GIVE A NEW LIFE TO GAMING</h2>
						<h5>challenge other players and see if they can reach you.</h5>
						<h5>Challenge Friends and compete</h5>
						<h5>Gather experience and level up</h5>
						<h5>Try to reach the top of the ladder</h5>
					</div>
				</div>
			</div>
			<div class="item"  data-150-bottom="background-position: -200% 0;"  data-top="background-position: 20% 0;" data-center="background-position: 50% 0;" data-top-bottom="background-position: 50% 0;" data-anchor-target="#slide-2"></div>
			<div class="item2"  data-150-bottom="background-position: 200% 0;"  data-top="background-position: 80% 0;" data-center="background-position: 50% 0;" data-top-bottom="background-position: 50% 0;" data-anchor-target="#slide-2"></div>
		</div>
	</section>
	<div class="container">
		
		<h5 class="animated fadeIn">Challenge Friends and compete</h5>
		<h5 class="animated fadeIn">Challenge Friends and compete</h5>
		<h5 class="animated fadeIn">Challenge Friends and compete</h5>
		<h5 class="animated fadeIn">Challenge Friends and compete</h5>
		<h5 class="animated fadeIn">Challenge Friends and compete</h5>
	</div>
</section>
<div class="container">

	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
</div>
</section>
<div class="container">

	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
</div>
</section>
<div class="container">

	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
	<h5 class="animated fadeIn">Challenge Friends and compete</h5>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/skrollr.min.js"></script>
<script type="text/javascript" src="./js/landing.js"></script>

<script type="text/javascript">
	$(function () {
		var s = skrollr.init();
	});

</script>

</body>
</html>