<!doctype html>
<html>
<head>
	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.cyf-app.co">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="login, signin, challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="Login - Challenge your Friends">
    <meta name="description" content="Login to Challenge your friends and join the arena now!">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="article"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.cyf-app.co">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://cyf-app.co/img/icon_big.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="750">
    <meta property="og:image:height" content="315">
    <meta property="og:title" content="Login - Challenge your Friends">
    <meta property="og:description" content="Login to Challenge your friends and join the arena now!">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://cyf-app.co/img/icon_big.png">
    <meta name="twitter:image:width" content="750">
    <meta name="twitter:title" content="Login - Challenge your Friends">
    <meta name="twitter:description" content="Login to Challenge your friends and join the arena now!">
    <!-- Twitter card end -->
	<title>Login - Challenge your Friends</title>
</head>
<body>

	<% include statics/navTopFix %>
	<div class="canvas">
		
		<div class="container">
			<div class="col-md-6 col-md-offset-3">

				<h1><span class="fa fa-sign-in"></span> Login</h1>

				<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
				<% } %>

				<!-- LOGIN FORM -->
				<form action="/login" method="post">
					<div class="form-group">
						<label>Email</label>
						<input type="text" class="form-control" name="email">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" name="password">
					</div>

					<button type="submit" class="btn btn-block mint btn-lg">Enter the Arena</button>
				</form>

				<hr>
				<p><a href="/signup" class="btn bittersweet btn-md">Need an account? Become a challenger now!</a> <a href="./lostPassword" class="pull-right" title="Like us on Facebook!">Password Lost?</a></p>
                

			</div>
		</div>
	</div>

    <!--  FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <section class="col-md-12">
            <a href="https://plus.google.com/109925245483936264439" title="Follow us on Goolg+!" target="_blank" rel="publisher">Google+</a>
            | <a href="https://twitter.com/cyf_app" title="Follow us on Twitter!" target="_blank">Twitter</a>
            | <a href="https://www.facebook.com/cyfapp" title="Like us on Facebook!" target="_blank">Facebook</a>

            <span class="pull-right">
              | <a href="./about" title="Like us on Facebook!">About</a> 
            </span>                
          </section>
        </div>        
      </div>
    </footer>
</body>
</html>