<!doctype html>
<html>
<head>
	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.cyf-app.co">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="lost, password, signin, challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="Password lost - Challenge your Friends">
    <meta name="description" content="Retrieve your account by generating a new password in 1 minute!">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="article"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.cyf-app.co">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://www.cyf-app.co/icon_big.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="750">
    <meta property="og:image:height" content="315">
    <meta property="og:title" content="Password lost - Challenge your Friends">
    <meta property="og:description" content="Retrieve your account by generating a new password in 1 minute!">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://www.cyf-app.co/icon_big.png">
    <meta name="twitter:image:width" content="750">
    <meta name="twitter:title" content="Password lost - Challenge your Friends">
    <meta name="twitter:description" content="Retrieve your account by generating a new password in 1 minute!">
    <!-- Twitter card end -->
	<title>Password lost - Challenge your Friends</title>
</head>
<body>

	<% include statics/navTopFix %>
	<div class="canvas">
		
		<div class="container">
			<div class="col-md-6 col-md-offset-3">

				<h1><span class="fa fa-sign-in"></span> Password retrieval</h1>

                <% if(done === true) {%>

                 <div class="alert alert-success">
                    <h2>New password sent!</h2>
                    <p>
                        We have sent a mail containing your new credentials, watch your mailbox! <br><small>If nothing appears, check your spam and whitelist us!</small>
                    </p>
                 </div>
                <% } else { %>
				<!-- LOGIN FORM -->
				<form action="/lostPassword" method="post">
					<div class="form-group">
						<label>Email</label>
						<input type="text" class="form-control" name="email">
					</div>
					<button type="submit" class="btn btn-block mint btn-lg">Send me a new password</button>
				</form>

				<hr>
                <p><a href="/login" class="btn bittersweet btn-md">Found your password? enter the arena now!</a></p>
                <p><a href="/signup" class="btn bittersweet btn-md">Need an account? Become a challenger now!</a></p>
                 <% } %>
			</div>
		</div>
	</div>

    <!--  FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <section class="col-md-12">
            <a href="https://plus.google.com/109925245483936264439" title="Follow us on Goolg+!" target="_blank" rel="publisher">Google+</a>
            | <a href="https://twitter.com/cyf_app" title="Follow us on Twitter!" target="_blank">Twitter</a>
            | <a href="https://www.facebook.com/cyfapp" title="Like us on Facebook!" target="_blank">Facebook</a>

            <a href="./about" class="pull-right" title="Like us on Facebook!">About</a>            
          </section>
        </div>        
      </div>
    </footer>
</body>
</html>