<!doctype html>
<html>
<head>
	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.cyf-app.co">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="create, challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="Submit a new challenge - Challenge your Friends">
    <meta name="description" content="Add a game to Cyf library!">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="article"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.cyf-app.co">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://cyf-app.co/img/icon_big.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="750">
    <meta property="og:image:height" content="315">
    <meta property="og:title" content="Submit a new challenge - Challenge your Friends">
    <meta property="og:description" content="Add a game to Cyf library!">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://cyf-app.co/img/icon_big.png">
    <meta name="twitter:image:width" content="750">
    <meta name="twitter:title" content="Submit a new challenge - Challenge your Friends">
    <meta name="twitter:description" content="Add a game to Cyf library!">
    <!-- Twitter card end -->
	<title>Register a new game - Challenge your Friends</title>
</head>
<body>

	<% include statics/navTop %>

	<div class="canvas">
		
		<div class="container">

			<div class="page-header text-center">
				<h1>Add a new badge</h1>
			</div>

			<div class="row">

				<div class="form-group col-md-8 col-md-offset-2">
				<% if(!isSuccess) { %>
					<form action="/addBadge" method="post">
					<div class="row">
					  <div class="col-xs-6">
					    <label>Title</label>
						<input type="text" class="form-control" name="title" required autofocus>
					  </div>
					  <div class="col-xs-6">
					    <label>Description</label>
						<input type="text" class="form-control" name="description" required>
					  </div>
					  <div class="col-xs-6">
					    <label>Icon</label>
						<input type="text" class="form-control" name="icon" placeholder="image.png">
					  </div>
					  <div class="col-xs-6">
					    <label>Required Badges</label>
						<select class="form-control" name="reqBadges" multiple>

							<% if(badges.length > 0 ) {
								for(var i=0; i< badges.length; i++) { %>
							<option value="<%= badges[i]._id %>"><%= badges[i].title %></option>
							<% } 
							} %>
						</select>
					  </div>
					  <div class="col-xs-6">
					    <label>Required, type:</label>
						<select class="form-control" name="reqType" multiple>
							<option value="friend">Friends</option>
							<option value="level">Level</option>
						</select>
					  </div>
					  <div class="col-xs-6">
					    <label>Required, value:</label>
						<input type="number" class="form-control" name="reqValue" required>
					  </div>
					  <div class="col-xs-12">
						<button type="submit" class="btn btn-punch btn-success btn-block">Add this badge</button>
					  </div>
					</div>			
					</form>
				<% } else { %>
					<% if(isSuccess === 'true') { %>
					<div class="alert alert-success">
						<strong>
						Your game has been added, you can now use it to create and launch challenges
						</strong>
					</div>
					<% } else { %>
					<div class="alert alert-danger">
						<strong>
						Error:
						</strong>
						<%= isSuccess %>
					</div>
					<% } %>
				<% } %>
				</div>
			</div>

		</div>

		<% include statics/footers %>
		<script type="text/javascript">

			$(function(){
				$("select[multiple] option").mousedown(function(){
				   var $self = $(this);

				   if ($self.prop("selected"))
				          $self.prop("selected", false);
				   else
				       $self.prop("selected", true);

				   return false;
				});
			});
		</script>
</body>
</html>