<!doctype html>
<html>
<head>
	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.challenge-friends.herokuapp.com">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="signup, challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="Signup and become a true challenger now - Challenge your friends">
    <meta name="description" content="Create your challenger's account today and join the first online community of challengers. Find new opportunities of gaming, show off your skills by achieving the hardest challenges now!">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="article"> <!-- website/article/profile -->
    <meta property="og:url" content="http://www.challenge-friends.herokuapp.com/signup">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://www.challenge-friends.herokuapp.com/icon_big.png">
    <meta property="og:image:width" content="200">
    <meta property="og:title" content="Signup and become a true challenger now - Challenge your friends">
    <meta property="og:description" content="Create your challenger's account today and join the first online community of challengers. Find new opportunities of gaming, show off your skills by achieving the hardest challenges now!">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://www.challenge-friends.herokuapp.com/icon_big.png">
    <meta name="twitter:image:width" content="200">
    <meta name="twitter:title" content="Signup and become a true challenger now - Challenge your friends">
    <meta name="twitter:description" content="Create your challenger's account today and join the first online community of challengers. Find new opportunities of gaming, show off your skills by achieving the hardest challenges now!">
	<title>Signup and become a true challenger now - Challenge your friends</title>
</head>
<body>

	<% include statics/navTop %>

	<div class="canvas">
		
		<div class="container">
			<div class="col-sm-8 col-sm-offset-2">

				<h1>Well met, <span id="whoAmI">challenger</span></h1>

				<% if (message) { %>
				<div class="alert alert-danger"><%= message %></div>
				<% } %>
				<% if (waitingConfirm) {

					if(currentUser) {
				 %>
				 <div class="alert alert-success">
				 	<h2>Welcome <%= currentUser.local.pseudo%></h2>
				 	<p>
				 		Your account has been created: <strong>enjoy!</strong>
				 	</p>
				 </div>
				 <%
						} else {
				 %>

				<div class="alert alert-success"><strong>One last step!</strong> We sent you an email, please check your inbox and confirm your adress to enter the arena!</div>
				<% } 
				} else { %>



				<form action="/signup" id="rockstar" method="post">
					<div class="form-group">
						<label>Pseudo</label>
						<input type="text" class="form-control" name="pseudo">
					</div>
					<div class="form-group" id="emailVerify">
						<label>Email</label>
						<input type="text" class="form-control" id="txtEmail" name="email">
						<small>we will send you a confirmation email</small>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" name="password"  placeholder="Password" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,12}$" data-validation-msg="Password must be 2-12 characters" required >
					</div>

					<button type="submit" id="createAccount" class="btn btn-block mint btn-lg">Signup</button>
				</form>

				<hr>
				<p><a href="/login" class="btn bittersweet btn-md">Already have an account? Enter the Arena!</a></p>

				<% } %>

			</div>
		</div>
	</div>
	<% include statics/footersFix %>

	<script type="text/javascript">

		$(function() {
			$('input[name="pseudo"]')
				.on('keyup', function () {
				    $("#whoAmI").text($(this).val()+"...");
				})
				.focusout(function() {
					var cooei = $(this).val();
				    $("#whoAmI").text(cooei);
				    $('#createAccount').text('I, '+cooei+', am ready!');
				});
			$('#createAccount').click(function(e) {
				e.preventDefault();
				var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				var sEmail = $('#txtEmail').val();
				if (sEmail == '' || !re.test(sEmail)){
					console.log(!re.test(sEmail));

					$('#emailVerify').addClass('has-error')
				} 
				else {
					$('#rockstar').submit();
				}
			});

		});

	</script>

</body>
</html>