<!doctype html>
<html>
<head>
	<% include statics/headers %>
    <!-- Start General metas -->
    <meta name="url" content="http://www.cyf-app.co">
    <meta name="language" content="EN">
    <meta name="reply-to" content="cyf.app@gmail.com">
    <meta name="rating" content="General">
    <meta name="keywords" content="signup, challenge, challenge friends, cyf, gaming, competition, e-sport, league of legend, dota, dota 2, champion">
    <meta name="title" content="Signup and become a true challenger now - Challenge your friends">
    <meta name="description" content="Create your challenger's account today and join the first online community of challengers. Find new opportunities of gaming, show off your skills by achieving the hardest challenges now!">
    <!-- End General metas -->
    <!-- Start Open Graph metas -->
    <meta property="og:type" content="article"> <!-- website/article/profile -->
    <meta property="og:url" content="http://cyf-app.co/signup">
    <meta property="og:site_name" content="Challenge your Friends"/>
    <meta property="og:image" content="http://cyf-app.co/img/icon_big.png">
    <meta property="og:image:width" content="200">
    <meta property="og:title" content="Signup and become a true challenger now - Challenge your friends">
    <meta property="og:description" content="Create your challenger's account today and join the first online community of challengers. Find new opportunities of gaming, show off your skills by achieving the hardest challenges now!">
    <!-- End Open Graph -->
    <!-- Start Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cyf_app">
    <meta name="twitter:image" content="http://cyf-app.co/img/icon_big.png">
    <meta name="twitter:image:width" content="200">
    <meta name="twitter:title" content="Signup and become a true challenger now - Challenge your friends">
    <meta name="twitter:description" content="Create your challenger's account today and join the first online community of challengers. Find new opportunities of gaming, show off your skills by achieving the hardest challenges now!">
	<title>Signup and become a true challenger now - Challenge your friends</title>
</head>
<body>

	<% include statics/navTop %>

	<div class="canvas">
		
		<div class="container">
			<div class="col-sm-8 col-sm-offset-2">

				<% if (message) { %>
				<div class="bittersweet-color well"><%= message %></div>
				<% } %>
				<% if (waitingConfirm) {

					if(currentUser) {
				 %>
				 <h3>Account created &amp; activated, welcome <%= currentUser.local.pseudo%></h3>
				 <div class="well">
				 	<p>
				 		Cyf is funnier with real friends, but you can find people who play the same games as you on the <a href="/users" class="grapefruit-color" target="_blank"> challenger list</a>. 
				 	</p>
				 	<p>
				 		<em class="grapefruit-color">you may need to send some friend requests in order to launch and receive challenges</em>!<br>
						Be sure to specify which <em class="grapefruit-color">games you are playing</em>, thus people may add you as friends and launch you challenges too!<br>
				 		You can also create challenges, look at the challenges list etc.
				 	</p>
				 	<p>
				 		We will show you some things in the next page, please click the following button:<br>
				 		<a href="/profile" class="btn btn-block sunflower">Ok, take me to my profile now!</a>
				 	</p>
				 </div>
				 <%
						} else {
				 %>
				<div class="well grass-color"><strong>One last step!</strong> We sent you an email, please check your inbox and confirm your adress to enter the arena! <small>Be sure to check your spam folder if the message doesn't shows up.</small></div>
				<% } 
				} else { %>


				<h1>Welcome, <span id="whoAmI">challenger</span></h1>

				<form action="/signup" id="rockstar" method="post">
					<div class="form-group">
						<label>Pseudo</label>
						<input type="text" class="form-control" placeholder="Pseudo" name="pseudo" pattern="\w{3,}" required>
					</div>
					<div class="form-group" id="emailVerify">
						<label>Email</label>
						<input type="email" class="form-control" id="txtEmail" placeholder="Email address" name="email" required>
						<small>We will send you an email to confirm it.</small>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" name="password"  placeholder="Password" pattern=".{6,}" data-validation-msg="Password must be 2-12 characters" required >
					</div>

					<button type="submit" id="createAccount" class="btn btn-block mint btn-lg">Signup</button>
				</form>

				<hr>
				<p><a href="/login" class="btn bittersweet btn-md">Already have an account? Enter the Arena!</a> <a href="./lostPassword" class="pull-right" title="Like us on Facebook!">Password Lost?</a></p>

				<% } %>

			</div>
		</div>
	</div>
	<% include statics/footersFix %>

	<script type="text/javascript">

		$(function() {
			$('input[name="pseudo"]')
				.on('keyup', function () {
				    $("#whoAmI").text($(this).val()+"...");
				})
				.focusout(function() {
					var cooei = $(this).val();
				    $("#whoAmI").text(cooei);
				    $('#createAccount').text('I, '+cooei+', am ready!');
				});
			$('#createAccount').click(function(e) {
				e.preventDefault();
				var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				var sEmail = $('#txtEmail').val();
				if (sEmail == '' || !re.test(sEmail)){
					console.log(!re.test(sEmail));

					$('#emailVerify').addClass('has-error')
				} 
				else {
					$('#rockstar').submit();
				}
			});

		});

	</script>

</body>
</html>