
body, #skrollr-body { 
  background: rgb(6,2,3);
}
#headNav {	
width: 100%;
height: auto;
}
.navbar-default .btn-link,.navbar-default .navbar-link,
.navbar-default .btn-link:hover,.navbar-default .navbar-link:hover,
.navbar-default .btn-link:active,.navbar-default .navbar-link:active {
	color: #FAFAFA;
}
#headNav a {
font-weight: normal;
}
#headNav .logo-big{
	margin: 0 auto;
	max-width: initial !important;
}
#skrollr-body.container {
 	 background: rgb(6,2,3);
	width: 100%;
	height: 100%;
}

a {
	color: rgb(252, 79, 50);
	font-weight: bolder;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
a:hover,a:active,a:focus {
	color: rgb(255, 37, 0);
}


/* Skrollr */

.skrollr .container h5, .skrollr .container h3, .skrollr .container h2{
  margin: 20px 0 0 0px;
  color: #23D622;
  padding: 0;

  animation: colorAnimate ease-out 6s;
  -webkit-animation: colorAnimate ease-out 6s;
  -moz-animation: colorAnimate ease-out 6s;
  -o-animation: colorAnimate ease-out 6s;
  -ms-animation: colorAnimate ease-out 6s;
	cursor: default;
}

.skrollr .container h5:first-child{
  margin-top: 50px;
}
section .container {
	opacity: 0;
}
section .container p {
	text-shadow: 0 1px 0 #000000;
}
section .container .btn-block {
	margin: 20px auto 30px;
}
.bcg {
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(6,2,3);
  height: auto;
  width: auto;
}
#slide-1 .container {
	opacity: 1;
}
#slide-1 .fa-stack > i:first-child {
	color: #252F36;
}
#slide-1 .fa-stack > i:nth-child(2) {
	color: #DFDFDF;
}
#slide-1 {
  color: rgb(252,252,252);
  background: rgb(6,2,3);
  position: relative;
}
#slide-1 h3 {
  color: #FFF;
  margin-top: 2.2em;
}
#slide-1 h5, #slide-2 h5 {
font-size: 1em;
}
#slide-1 h5 {
  text-shadow: 0px 1px 1px #000;
  -webkit-transition: color .162s linear;
  -moz-transition: color .162s linear;
  -ms-transition: color .162s linear;
  -o-transition: color .162s linear;
  transition: color .162s linear;
	cursor: default;
}
#slide-1 h5:hover {
	color: #22D6CF;
}
#slide-1 .bcg {background:url('../img/landing_1.jpg') no-repeat; position: absolute; width: 100%; height: 100%}

#slide-1,#slide-2,#slide-3 {cursor: default;}
#slide-2 .bcg {	background: #020101 url('../img/landing_2.jpg') repeat-x; }

#slide-2 h3 {
	color: white;
	margin: 20px 0 20px;
}
#slide-2 .fa-ul,#slide-3 .fa-ul {
	margin: inherit;
	margin-bottom: 20px;
}
#slide-2 .fa-ul>li,#slide-3 .fa-ul>li{
	margin-top: 12px;
	color: white;
	margin-left: 50px;
	text-shadow: 0 2px 0 rgb(0, 0, 0);
  	-webkit-transition: color .162s linear;
  	-moz-transition: color .162s linear;
  	-ms-transition: color .162s linear;
  	-o-transition: color .162s linear;
  	transition: color .162s linear;
}

#slide-2 .fa-ul>li:hover {
	
	color: rgb(252, 79, 50);
	text-shadow: 0 4px 1px rgb(0,0,0);
}

#slide-2 h4 {
	font-weight: normal;
  text-shadow: 0px 1px 1px #000;
}

#slide-2 .media-body > p:nth-child(2){
	font-style: italic;
	padding: 0 0 0 10px;
	color: #F1F1F1;
  	-webkit-transition: color .162s linear;
  	-moz-transition: color .162s linear;
  	-ms-transition: color .162s linear;
  	-o-transition: color .162s linear;
  	transition: color .162s linear;
}
#slide-2 .media-body > p:nth-child(2):hover{
	color: rgb(252, 79, 50);
	text-shadow: 0 4px 1px rgb(0,0,0);

}
#slide-2 .media-body h4.media-heading{
	color: #DD574C;
	text-shadow: none !important;
}
#slide-2 .media-body h4.media-heading > small{
	color: #F33100;
}
#slide-2 .btn-block:hover {
	background: #F33100
}
#slide-3 {
border-top: 2px solid #31271F;
background: #051113 url('../img/landing_3.jpg') repeat; 
cursor: default;
}
#slide-3 h3 {
	color: rgb(6, 176, 241);
	margin: 20px 0 20px;
	text-shadow: 0 2px 0 rgb(10,10,10);
}
#slide-3 h4 {
  text-shadow: 0px 1px 1px #000;
  color: #B3B3B3;
}
#slide-3 .container p {
	text-shadow: 0 1px 0 rgb(12,12,12);
	color: #F1F1F1;
}

#slide-3 a,.bluelight,#slide-3 .fa-ul>li>h4,#slide-3 .fa-ul>li>.fa-li {
	color: #269CB9;
  	-webkit-transition: color .162s linear;
  	-moz-transition: color .162s linear;
  	-ms-transition: color .162s linear;
  	-o-transition: color .162s linear;
  	transition: color .162s linear;
}

#slide-3 a:hover,.bluelight:hover,#slide-3 .fa-ul>li:hover>.fa-li {
	color: #2EBBDD;
}

#slide-3 .btn-block {
	background: #269CB9;
	color: #FFF;
}

#slide-3 .btn-block:hover {
	background: #2EBBDD;
	color: #FFF;
}
#skrollr-body .row, #skrollr-body .container {
	height: auto;
}
@media only screen and (min-width: 900px) {
	body {
		font-size: 1.125em;
		/* 18px / 16px */
	}
	
}
@media only screen and (min-width: 900px ) and (max-width: 1220px ) {
	#slide-1 .bcg {background:url('../img/landing_1_low.jpg') no-repeat;}
	
}
@media only screen and (max-width: 900px) {
	#slide-1 .bcg {background:url('../img/landing_1_mobile.jpg') no-repeat;}
}

@-ms-keyframes colorAnimate{
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}

@-moz-keyframes colorAnimate{
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}

@-o-keyframes colorAnimate {
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}

@-webkit-keyframes colorAnimate
{
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}

@keyframes colorAnimate
{
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}