
#skrollr-body.container {
	background: #00C993;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	min-width: 24px;
}
.skrollr body { 
  background: rgb(6,2,3);
min-height: 3000px;
}

a {
	color: rgb(252, 79, 50);
	font-weight: bolder;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
a:hover,a:active,a:focus {
	color: rgb(255, 37, 0);
}


/* Skrollr */

.skrollr .container h5, .skrollr .container h3, .skrollr .container h2{
  margin: 20px 0 0 0px;
  color: #23D622;
  padding: 0;

  animation: colorAnimate ease-out 6s;
  -webkit-animation: colorAnimate ease-out 6s;
  -moz-animation: colorAnimate ease-out 6s;
  -o-animation: colorAnimate ease-out 6s;
  -ms-animation: colorAnimate ease-out 6s;
	cursor: default;
}

.skrollr .container h5:first-child{
  margin-top: 50px;
}
section .container {
	opacity: 0;
}
section .container p {
	text-shadow: 0 1px 0 white;
}
.bcg {
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(6,2,3);
  height: 100%;
  width: 100%;
}
#slide-1 .container {
	opacity: 1;
}
#slide-1 .fa-stack > i:first-child {
	color: #252F36;
}
#slide-1 .fa-stack > i:nth-child(2) {
	color: #DFDFDF;
}
#slide-1 {
  color: rgb(252,252,252);
  background: rgb(6,2,3);
  position: relative;
}
#slide-1 h3 {
  color: #FFF;
  margin-top: 3em;
}
#slide-1 h5, #slide-2 h5 {
font-size: 1em;
}
#slide-1 h5 {
  text-shadow: 0px 1px 1px #000;
  -webkit-transition: color .162s linear;
  -moz-transition: color .162s linear;
  -ms-transition: color .162s linear;
  -o-transition: color .162s linear;
  transition: color .162s linear;
	cursor: default;
}
#slide-1 h5:hover {
	color: #22D6CF;
}
#slide-1 .bcg {background:url('../img/landing_1.jpg') no-repeat; position: absolute;}
#slide-2 { margin-top: 2em;}
#slide-2 .bcg {	background: #020101 url('../img/landing_2.jpg') repeat-x; }

#slide-2 h3 {
	color: white;
	margin: 20px 0 20px;
}
#slide-2 .fa-ul {
	margin: inherit;
	margin-bottom: 20px;
}
#slide-2 .fa-ul>li {
	margin-top: 12px;
	color: white;
	margin-left: 50px;
	cursor: default;
	text-shadow: 0 2px 0 rgb(0, 0, 0);
  	-webkit-transition: color .162s linear;
  	-moz-transition: color .162s linear;
  	-ms-transition: color .162s linear;
  	-o-transition: color .162s linear;
  	transition: color .162s linear;
}

#slide-2 .fa-ul>li:hover {
	
	color: rgb(252, 79, 50);
	text-shadow: 0 4px 1px rgb(0,0,0);
}

#slide-2 h4 {
	font-weight: normal;
  text-shadow: 0px 1px 1px #000;
}

#slide-3 {
border-top: 2px solid #31271F;
background: #051113 url('../img/landing_3.jpg') repeat; 
cursor: default;
}
#slide-3 h3 {
	color: rgb(6, 176, 241);
	margin: 20px 0 20px;
	text-shadow: 0 2px 0 rgb(10,10,10);
}
#slide-3 h4 {
  text-shadow: 0px 1px 1px #000;
  color: #B3B3B3;
}
#slide-3 .container p {
	text-shadow: 0 1px 0 rgb(12,12,12);
	color: #F1F1F1;

}
#slide-3 .media-body > p:nth-child(2),#slide-3 a,.bluelight {
	color: #269CB9;
  	-webkit-transition: color .162s linear;
  	-moz-transition: color .162s linear;
  	-ms-transition: color .162s linear;
  	-o-transition: color .162s linear;
  	transition: color .162s linear;
}

#slide-3 .media-body > p:nth-child(2){
	font-style: italic;
	padding: 0 0 0 10px;
}
#slide-3 .media-body > p:nth-child(2):hover,#slide-3 a:hover,.bluelight:hover {
	color: #2EBBDD;
}

#skrollr-body .row, #skrollr-body .container {
	height: 100%;
}
h4.media-heading{

	text-shadow: none !important;
}
h4.media-heading > small{
	color: #052229;
}
@media only screen and (min-width: 767px) {
	body {
		font-size: 1.125em;
		/* 18px / 16px */
	}

	#skrollr-body.container {
		background-size: 100%;
	}

	#skrollr-body #landing {
		position: relative;

	}
	#skrollr-body.container h1 {
		font-size: 4.03em;
		margin: 90px 0 75px 5%;
		max-width: 640px;
	}

	#skrollr-body.container form {
		margin: 45px 0;
	}
	#skrollr-body.container h5 {
		margin: 8% 5% 0 0;
		max-width: 40%;
		float: right;
		border-top: 5px solid rgba(138,138,138,.4);
		padding: 10px 0 0;
	}
	a.button {
		padding: .75em 1.5em;
	}
}
@media only screen and (max-width: 550px) {
	.explanation {
		float: none;
		margin: auto;
		text-align: center;
	}

	.explanation-right {
		float: none;
		margin: auto;
		text-align: center;
	}

	#sect1 {
		top: 350px;
	}

	#phone {
		visibility: hidden;
		height: 0px;
		width: 0px;
		padding: 0;
		margin: 0;
	}

	#map {
		width: 0px;
		height: 0px;
	}

	#sect2 {
		top: 900px;
	}

	#rocket {
		visibility: hidden;
	}

	#twitter {
		visibility: hidden;
		padding-left: 0em;
	}

	#hiddenIcon {
		visibility: visible;
		height: auto;
	}

	#mce-EMAIL {
		text-align: center;
		padding: 0;
		float: none;
	}

	#mc_embed_signup {
		text-align: center;
	}
}

@-ms-keyframes colorAnimate{
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}

@-moz-keyframes colorAnimate{
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}

@-o-keyframes colorAnimate {
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}

@-webkit-keyframes colorAnimate
{
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}

@keyframes colorAnimate
{
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}