
#skrollr-body.container {
	background: #00C993;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	min-width: 24px;
}
.skrollr body { 
  background: rgb(6,2,3);
min-height: 3000px;
}

/* Skrollr */

.skrollr .container h5, .skrollr .container h3, .skrollr .container h2{
  margin: 20px 0 0 0px;
  color: #23D622;
  padding: 0;

  animation: colorAnimate ease-out 6s;
  -webkit-animation: colorAnimate ease-out 6s;
  -moz-animation: colorAnimate ease-out 6s;
  -o-animation: colorAnimate ease-out 6s;
  -ms-animation: colorAnimate ease-out 6s;
	cursor: default;
}

.skrollr .container h5:first-child{
  margin-top: 50px;
}
.bcg {
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(6,2,3);
  height: 100%;
  width: 100%;
}
#slide-1 .fa-stack > i:first-child {
	color: #252F36;
}
#slide-1 .fa-stack > i:nth-child(2) {
	color: #DFDFDF;
}
#slide-1 {
  color: rgb(252,252,252);
  background: rgb(6,2,3);
  position: relative;
}
#slide-1 h3 {
  color: #FFF;
  margin-top: 3em;
  text-shadow: 0 1px 0px #18201A,0px 2px 0px #0016B8;
}
#slide-1 h5, #slide-2 h5 {
font-size: 1em;
}
#slide-1 h5 {
  text-shadow: 0px 1px 1px #000;
  -webkit-transition: color .162s linear;
  -moz-transition: color .162s linear;
  -ms-transition: color .162s linear;
  -o-transition: color .162s linear;
  transition: color .162s linear;
}
#slide-1 h5:hover {
	color: #22D6CF;
	cursor: default;
}
#slide-1 .bcg {background:url('../img/landing_1.jpg') no-repeat; position: absolute;}
#slide-2 { margin-top: 2em;}
#slide-2 .bcg {
	opacity: 0;
	background: #020101 url('../img/landing_2.jpg') repeat-x; 
	height: auto;
	width: 100%;
}

#slide-2 h3 {
	color: white;
	margin: 20px 0 20px;
}
#slide-2 h4 {
	font-weight: normal;
  text-shadow: 0px 1px 1px #000;
}
#slide-2 .fa-ul {
	margin: inherit;
	margin-bottom: 20px;
}
#slide-2 .fa-ul>li {
	margin-left: 50px;
	text-shadow: 0 2px 0 rgb(0, 0, 0);
	animation: textInFire ease-in-out 10s infinite;
	-webkit-animation: textInFire ease-in-out 10s infinite;
	-moz-animation: textInFire ease-in-out 10s infinite;
	-o-animation: textInFire ease-in-out 10s infinite;
	-ms-animation: textInFire ease-in-out 10s infinite;
}
#slide-2 .fa-stack > i:first-child {
color: black;
}
#slide-2 .fa-stack > i:nth-child(2) {
color: rgb(238,224,1);
}
#slide-3 {
	background: #280802;
	border-top: 2px solid #462727;
}
#slide-3 h3 {
	color: white;
	margin: 20px 0 20px;
}
#slide-3 h4 {
	font-weight: normal;
  text-shadow: 0px 1px 1px #000;
}
#twitter {
	float: left;
	width: 20%;
	font-size: 5em;
	padding-left: 15%;
}

#rocket {
	float: right;
	width: 20%;
	font-size: 5em;
	padding-left: 15%;
}

#hiddenIcon {
	text-align: center;
	visibility: hidden;
	height: 0;
	font-size: 5em;
}

.anchor {
	height: 100px;
}

.explanation {
	min-width: 12.42em;
	float: left;
	width: 40%;
}

.explanation-right {
	min-width: 12.42em;
	float: left;
	text-align: right;
	padding-left: 5%;
	width: 40%;
}

#phone {
	background: #DDD7D1;
	border-radius: 30px;
	box-shadow: 0 0.5em 0 #BCB1A5;
	padding: 50px 18px 50px 18px;
	width: 20%;
	min-width: 200px;
	max-width: 400px;
	margin-right: 5%;
	float: left;
}

#screen {
	background: #ffffff;
	height: 300px;
	overflow: hidden;
	padding: 0;
	position: relative;
	min-width: 200px;
}

#topBar {
	background: #00C993;
	height: 10%;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	min-width: 100px;
}

#mc_embed_signup {
	text-align: right;
	background-color: #00C993;
}

#mce-EMAIL {
	text-align: right;
	width: auto;
	height: 30px;
	margin-bottom: 20px;
	padding-right: 1em;
	border-style: none;
	outline: none;
}

#mce-EMAIL:focus {
	outline: none;
}

#mc-embedded-subscribe {
	border-style: none;
}

.icon-bookmark {
	float: right;
}

.icon-bookmark:hover {
	color: #FFC52F;
}

.pressed {
	color: #FFC52F;
}

h1, h3 {
	font-family: inherit;
	font-weight: 700;
}

#skrollr-body.container h1 {
	font-size: 5em;
	line-height: 1em;
	/*margin-bottom: 1em;*/
}

a {
	color: white;
}

.button {
	background: #DDD7D1;
	text-align: center;
	padding: .5em 1em;
	color: white;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 0 0.2em 0 #BCB1A5;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	/*transition cross-browser stuff*/
	-webkit-transition: background 0.2s ease-out;
	/* Safari 3.2+, Chrome */
	-moz-transition: background 0.2s ease-out;
	/* Firefox 4-15 */
	-o-transition: background 0.2s ease-out;
	/* Opera 10.5–12.00 */
	transition: background 0.2s ease-out;
	/* Firefox 16+, Opera 12.50+ */
}

.button:hover {
	background: #BCB1A5;
}

a.arrow {
	color: white;
	text-align: center;
	font-size: 3em;
	text-decoration: none;
	padding-bottom: 30px;
	/*transition cross-browser stuff*/
	-webkit-transition: color 0.2s ease-in-out;
	/* Safari 3.2+, Chrome */
	-moz-transition: color 0.2s ease-in-out;
	/* Firefox 4-15 */
	-o-transition: color 0.2s ease-in-out;
	/* Opera 10.5–12.00 */
	transition: color 0.2s ease-in-out;
	/* Firefox 16+, Opera 12.50+ */
	margin: 0 auto;
}

a.arrow:hover {
	color: #37BC9B;
}

#skrollr-body .row, #skrollr-body .container {
	background: transparent;
	height: 100%;
}
#eReg {

	-webkit-animation-duration: 1.664s;
	-moz-animation-duration: 1.664s;
	-o-animation-duration: 1.664s;
	animation-duration: 1.664s;
	-webkit-animation-delay: 3.33s;
	-moz-animation-delay: 3.33s;
	-o-animation-delay: 3.33s;
	animation-delay: 3.33s;
	-webkit-animation-iteration-count: 2;
	-moz-animation-iteration-count: 2;
	-o-animation-iteration-count: 2;
	animation-iteration-count: 2;
}
@media only screen and (min-width: 767px) {
	body {
		font-size: 1.125em;
		/* 18px / 16px */
	}

	#skrollr-body.container {
		background-size: 100%;
	}

	#skrollr-body #landing {
		position: relative;

	}
	#skrollr-body.container h1 {
		font-size: 4.03em;
		margin: 90px 0 75px 5%;
		max-width: 640px;
	}

	#skrollr-body.container form {
		margin: 45px 0;
	}
	#skrollr-body.container h5 {
		margin: 8% 5% 0 0;
		max-width: 40%;
		float: right;
		border-top: 5px solid rgba(138,138,138,.4);
		padding: 10px 0 0;
	}
	a.button {
		padding: .75em 1.5em;
	}
}
@media only screen and (max-width: 550px) {
	.explanation {
		float: none;
		margin: auto;
		text-align: center;
	}

	.explanation-right {
		float: none;
		margin: auto;
		text-align: center;
	}

	#sect1 {
		top: 350px;
	}

	#phone {
		visibility: hidden;
		height: 0px;
		width: 0px;
		padding: 0;
		margin: 0;
	}

	#map {
		width: 0px;
		height: 0px;
	}

	#sect2 {
		top: 900px;
	}

	#rocket {
		visibility: hidden;
	}

	#twitter {
		visibility: hidden;
		padding-left: 0em;
	}

	#hiddenIcon {
		visibility: visible;
		height: auto;
	}

	#mce-EMAIL {
		text-align: center;
		padding: 0;
		float: none;
	}

	#mc_embed_signup {
		text-align: center;
	}
}

@-ms-keyframes colorAnimate{
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}

@-moz-keyframes colorAnimate{
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}

@-o-keyframes colorAnimate {
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}

@-webkit-keyframes colorAnimate
{
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}

@keyframes colorAnimate
{
  0% {opacity: 1;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}

@-ms-keyframes textInFire{
  0% {color: rgb(238,237,232);}
  50% {color: rgb(238,224,1); text-shadow: 0 4px 1px rgb(0,0,0);}
  100% {color: rgb(238,237,232);}
}

@-moz-keyframes textInFire{
  0% {color: rgb(238,237,232);}
  50% {color: rgb(238,224,1); text-shadow: 0 4px 1px rgb(0,0,0);}
  100% {color: rgb(238,237,232);}
}

@-o-keyframes textInFire {
  0% {color: rgb(238,237,232);}
  50% {color: rgb(238,224,1); text-shadow: 0 4px 1px rgb(0,0,0);}
  100% {color: rgb(238,237,232);}
}

@-webkit-keyframes textInFire
{
  0% {color: rgb(238,237,232);}
  50% {color: rgb(238,224,1); text-shadow: 0 4px 1px rgb(0,0,0);}
  100% {color: rgb(238,237,232);}
}

@keyframes textInFire
{
  0% {color: rgb(238,237,232);}
  50% {color: rgb(238,224,1); text-shadow: 0 4px 1px rgb(0,0,0);}
  100% {color: rgb(238,237,232);}
}