/* Make clicks pass-through */
#nprogressContainer {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}
#nprogress {
  z-index: 1001;
  position: relative;
  pointer-events: none;
  -webkit-pointer-events: none;
}

#nprogress .bar {
  background: #F98F22;

  position: absolute;
  z-index: 1001;
  top: 0;

  width: 100%;
  height: 3px;
}
@media (max-width: 768px) {
  #nprogressContainer {top: 7px; }
  #nprogress .bar {
    top: 50px;
  }
}
/* Fancy blur effect */
#nprogress .bar  {
  background: #ED8A00;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ED8A00), to(#E08A00));
  background: -webkit-linear-gradient(#ED8A00, #E08A00);
  background: -moz-linear-gradient(#ED8A00, #E08A00);
  background: -o-linear-gradient(#ED8A00, #E08A00);
  background: linear-gradient(#ED8A00, #E08A00);
}

/* line 230, ../../sass/style.scss */
#nprogress .bar:after {
  background: #2F90C7;
  -webkit-box-shadow: 0 0 9px #2F90C7;
  -moz-box-shadow: 0 0 9px #2F90C7;
  box-shadow: 0 0 9px #2F90C7;
}
/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1001;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #F98F22;
  border-left-color: #F98F22;
  border-radius: 10px;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  -moz-animation:    nprogress-spinner 400ms linear infinite;
  -ms-animation:     nprogress-spinner 400ms linear infinite;
  -o-animation:      nprogress-spinner 400ms linear infinite;
  animation:         nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes nprogress-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes nprogress-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes nprogress-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
