@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Signika");
/* custom scrollbar */
/* line 6, ../../sass/style.scss */
::-webkit-scrollbar {
  width: .95em;
}
/* line 10, ../../sass/style.scss */
::-webkit-scrollbar-track {
  background-color: rgba(217, 217, 217, 0.5);
}

/* line 14, ../../sass/style.scss */
::-webkit-scrollbar-thumb {
  background: rgba(184, 184, 184, 0.5);
  box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}
/* Don't show shadows when selecting text */
::-moz-selection { background: #2CABCE; color: #fff; text-shadow: none; }
::selection { background: #2CABCE; color: #fff; text-shadow: none; }

/* COLORS */
.bittersweet,.bittersweet.btn,.bittersweet.btn.disabled, .bittersweet.btn[disabled]  {
  background: #FC6E51;
}
a.bittersweet:hover,a.bittersweet:active,a.bittersweet:visited{
  background: #E9573F;
}
.bittersweet-color {
  color: #FC6E51;
}
a.bittersweet-color:hover,a.bittersweet-color:active,a.bittersweet-color:visited {
  color: #E9573F;
}
.mediumgrey,.mediumgrey.btn, .mediumgrey.btn.disabled, .mediumgrey.btn[disabled] {
  background: #CCD1D9;

}
.mediumgrey:hover,.mediumgrey:active,.mediumgrey:visited  {
  background: #AAB2BD;
}
.mint,.mint.btn,.mint.btn.disabled, .mint.btn[disabled] {
  background: #48CFAD;
}
a.mint:hover,a.mint:active,a.mint:visited  {
  background: #37BC9B;
}
.mint-color {
  color: #48CFAD;
}
a.mint-color:hover,a.mint-color:active,a.mint-color:visited  {
  color: #37BC9B;
}
.grass,.grass.btn,.grass.btn.disabled, .grass.btn[disabled] {
  background: #A0D468;
}
a.grass:hover,a.grass:active,a.grass:visited  {
  background: #8CC152;
}
.grass-color {
  color: #A0D468;
}
a.grass-color:hover,a.grass-color:active,a.grass-color:visited  {
  color: #8CC152;
}
.sunflower,.sunflower.btn,.sunflower.btn.disabled, .sunflower.btn[disabled] {
  background: #FFCE54;
}
.sunflower.btn:hover,.sunflower.btn:active,.sunflower.btn:visited  {
  background: #F6BB42;
}
.sunflower-color {
  color: #FFCE54;
}
a.sunflower-color:hover,a.sunflower-color:active,a.sunflower-color:visited  {
  color: #F6BB42;
}
.aqua,.aqua.btn.disabled, .aqua.btn[disabled] {
  background: #4FC1E9; 
}
.aqua.btn:hover,.aqua.btn:active,.aqua.btn:visited  {
  background: #3BAFDA;
}
.aqua-color {
  color: #4FC1E9;
}
a.aqua-color:hover,a.aqua-color:active,a.aqua-color:visited  {
  color: #3BAFDA;
}
.pinked,.pinked.btn.disabled, .pinked.btn[disabled] {
  background: #EC87C0;
}
a.pinked:hover,a.pinked:active,a.pinked:visited  {
  background: #D770AD;
}
.grapefruit,.grapefruit.btn.disabled, .grapefruit.btn[disabled] {
  background: #ED5565;
}
a.grapefruit:hover,a.grapefruit:active,a.grapefruit:visited  {
  background: #DA4453;
}
.grapefruit-color {
  color: #ED5565;
}
a.grapefruit-color:hover,a.grapefruit-color:active,a.grapefruit-color:visited  {
  color: #DA4453;
}
.animated {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* Magic css fix */
.fb-share-button{ top: -4px; }
canvas {
  display: block;
}
/* line 21, ../../sass/style.scss */

html, body {
  height: 100%;
  background: #242730;
  font-size: 95%;
  font-family: 'proxima-nova',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
body.modal-open .canvas{
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}
div[class*=' col-'], div[class^=col-] {
  margin-bottom: 14px;
}
#footer {
  height: 41px;
  background-color: #1F1F1F;
  border-top: 1px solid rgb(82, 73, 73);
  z-index: 2;
  position: relative;
}
  #footer > .container > .row > section {
    line-height: 40px;
  }
  #footer > .container > .row > section a {
    color: #979797;
    font-weight: normal;
  }
#footer h4 {
  color: rgb(69, 107, 114);
}
#animeBg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  background-color: white;
}
/* line 292, ../../sass/style.scss */
.canvas {
  color: #48504B;
  background: #eee;
  position: relative;
  left: 0;
  z-index: 2;
  padding-top: 1em;
  padding-bottom: 1em;
}
.canvas {
  border-top: 3px solid #2DB7EB;
  border-bottom: 3px solid #2DB7EB;
}
.canvas > .container > .row {
  margin-top: 10px;
}
 .log-box-req {
  margin: 1.1em auto;
 }
 .log-box-req>div > #rockstar > div > div,.log-box-req > div > #superstar > div > div {
  margin: 1px 0;
 }
 
 .log-box-req>div > #rockstar > div > h6,.log-box-req > div > #superstar > div > h6 {
  
    margin-bottom: .3em;
    margin-top: .3em;

 }


@media (max-width: 767px) {
  html,body {
    background: #242730;
  }
  body {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 250ms linear;
    -webkit-backface-visibility: hidden;
    overflow-x:hidden;
  }
  #headNav > div > div.navbar-header > i {
    max-width: 6em;
    margin: .5em 1em;
    color: white;
    cursor: pointer;
  }
  #headNav > div > div.navbar-header > a.pull-right.visible-xs > img {
    max-width: 6em;
    margin: .5em 2em;
  }
  .slider-active {
    -webkit-transform: translateX(250px);
  }
  #menu-bar{
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0;
    /* For sharper text, we'll translate left when closed so that the menu is at translate(0) when opened */
    -webkit-transform: translateX(-250px);
    padding-top: 1em;
  }
  #menu-bar > div > a > img {
    margin: 0 4em;
    /* width: 100%; */
    max-width: 8em;
  }
  #menu-bar > ul {
    margin: 1em auto;
  }
  #menu-bar > ul >li {
    border-bottom: 1px solid #31363f;
  }

  #menu-bar > ul > li > a {
    color: rgba(250,250,250,.7);
    font-size: 1em;
    width: 100%;
    padding: .5em;
    display: block;
  }
  #menu-bar > ul > li:hover > a {
    color: rgba(250,250,250,1);
  }
}
/* Usefull class to center canvas */
.c-center {
    padding: 0;
    margin: 0 auto;
    vertical-align: top;
    display: block;
}
span.gameSync {
  cursor: pointer;
  color: #FFF;
}
.modal-backdrop {background: #f7f7f7;}
.modal-content {background: #EBECEE; border: 0;}
.modal-header {
  color: #fafafa;
  background: #213c44;
  background: -moz-linear-gradient(top, #213c44 0%, #212d33 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#213c44), color-stop(100%,#212d33));
  background: -webkit-linear-gradient(top, #213c44 0%,#212d33 100%);
  background: -o-linear-gradient(top, #213c44 0%,#212d33 100%);
  background: -ms-linear-gradient(top, #213c44 0%,#212d33 100%);
  background: linear-gradient(to bottom, #213c44 0%,#212d33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213c44', endColorstr='#212d33',GradientType=0 );
}
/* line 24, ../../sass/style.scss */
.navbar-static-top {
  margin-bottom: 0;
}

/**
 * CYF Styles
 */

 .ranking_1 {
  background: url('../img/rank1.png') top left repeat-y;
  font-size: 1.3em;
  font-weight: bold;
  color: #F6BB42;
}
.ranking_2 {
  background: url('../img/rank2.png') top left repeat-y;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(160,160,160);
}
.ranking_3 {
  background: url('../img/rank3.png') top left repeat-y;
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(139,94,60);
}
ul.userlist >div > li {
  margin-top: 0;
}

ul.userlist >div > li > a > img {
 max-width: 55px;
 height: auto;
}

#pickedIcon > img {
  max-width: 80px;  
}
.pickme > img {
  cursor: pointer;
  max-width: 75px;
  border: 3px solid transparent;
}
.pickme:hover > img {
  border: 3px solid #48CFAD;
}
.value-text {
  color: rgb(240, 73,50);
  line-height: 25px;
  font-size: .875em;
  font-weight: bolder;
  vertical-align: top;
}
.value-text:before {
  content: url('../img/value.png');
  position:relative; /*or absolute*/
  line-height: 25px;
}
/* line 42, ../../sass/style.scss */

.online,
.offline,
.away,
.busy {
  display: inline-block;
  padding-left: 1em;
  position: relative;
}

/* line 52, ../../sass/style.scss */
.online:before,
.offline:before,
.away:before,
.busy:before {
  border: .5px solid blue;
  border-radius: 50%;
  box-shadow: inset 0.5px 0 0 #fafafa, inset -0.5px 0 0 #fafafa, inset 0 0.5px 0 #fafafa, inset 0 -0.5px 0 #fafafa, 0 2px 0 rgba(255, 255, 255, 0.2);
  content: "";
  height: .5em;
  margin-top: -.5em;
  position: absolute;
  top: 50%;
  left: 0;
  width: .5em;
}
/* tx LoL */
#lol_games .media img {
  max-width: 45px;
  height: auto;
}
#lol_games .media h6 {
  min-width: 70px;
  margin: 0;
  color: #f1F1F1;;
  padding: 4px 0 0 0;
  border-radius: 5px;
}
#lol_games .media p {
  color: rgb(121, 126, 131);
  }
#lol_games .media h6 > p{
  margin: 5px;
  font-size: 11px;
  font-variant: small-caps;
  border-bottom: 1px solid #248DA9;
  border-top: 1px solid #248DA9;
  border: 3px;
  color: rgb(65, 65, 65);
}
span.label,a.label {
  cursor: context-menu;
  font-weight: 300;
  font-size: .9em;
  display: inline-block;
}
#myGamesList > span {
  margin: 0 3px;
}
#myGamesList > span > a {
  color: #fff;
}
.color-MOBA {
  color: rgb(137,67,41);
}
.label.MOBA {
  background: rgb(137,67,41);
}
.label.MOBA:hover {
  background: rgb(182, 92, 59);
  box-shadow: 0 1px 0px rgb(182, 92, 59);
}
.color-Fantasy {
  color: rgb(28,160,247);
}
.label.Fantasy,.badge.Fantasy {
  background: rgb(28,160,247);
}
.label.Fantasy:hover,.badge.Fantasy:hover {
  background: rgb(87, 185, 250);
  box-shadow: 0 1px 0px rgb(87, 185, 250);
}
.spinning {
    -webkit-animation: rotation 2.5s infinite ease-in-out;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

#lol_games .media h6.won{
  border-top: 1px solid rgba(7, 106, 119, .8);
  border-bottom: 1px solid rgba(7, 106, 119, .8);
  color: rgb(7, 106, 119);
}

#lol_games .media h6.lost{
  border-top: 1px solid rgba(204, 0, 57, .8);
  border-bottom: 1px solid rgba(204, 0, 57, .8);
  color: rgb(204, 0, 57);
}
.white-stone {
  padding: 20px;
  box-sizing: border-box;
  background: #e9eaec;
  color: #333132;
  position: relative;
}
/** ocss */

.rounded-2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.glow-shad{ 
  -webkit-box-shadow: 0 0 8px #213c44;
  -moz-box-shadow: 0 0 8px #213c44;
  box-shadow: 0 0 8px #213c44;
}
.glow-shad-white {  
  border: 2px solid  rgb(235,235,235);
  -webkit-box-shadow: 0 0 8px rgb(255,255,255);
  -moz-box-shadow: 0 0 8px rgb(255,255,255);
  box-shadow: 0 0 8px rgb(255,255,255);
}

hr.subtle-divider {
  background-color: #d9d9d9;
  border: 0;
  background-color: #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #fbfbfb;
  color: #d9d9d9;
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 2px;
}
.card {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.16);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.16);
  position: relative;
  border: 0;
  border-radius: 4px;
  background: #fff;
  padding-top:.5em; 
  padding-bottom:1em; 
  margin-bottom: .5em;
}
.card:not([class^=col-]) {
  padding: 1.6em 1em;
}
.challenge, .friends{
  margin-top: 24px;
}
.badgeList img {
  max-width: 5em;
}
.challenge .card {
  cursor: pointer;
  margin: 0 5px 10px;  
  position: relative;
  padding: 15px;
  border: 2px solid #213c44;
}
.challenge .card .badge:first-child {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
.challenge .active .grad-blue-main{ 
  color: rgb(21,34,35)
}
.challenge .glow-shad:hover{ 
  border: 2px solid #325F6C; 
  -webkit-box-shadow: 0 0 12px #325F6C;
  -moz-box-shadow: 0 0 12px #325F6C;
  box-shadow: 0 0 12px #325F6C;
}
.challenge .active .glow-shad{ 
  border: 2px solid  rgb(235,235,235);
  -webkit-box-shadow: 0 0 8px rgb(255,255,255);
  -moz-box-shadow: 0 0 8px rgb(255,255,255);
  box-shadow: 0 0 8px rgb(255,255,255);
}
.challenge .active hr.subtle-divider {
  background-color: rgb(235,235,235);
  border-top: 1px solid rgb(235,235,235);
  border-bottom: 1px solid rgb(245,245,245);
  color: rgb(235,235,235);
}
.valueChall {
  margin: 0 5px;
}
#leadTab>li>a {
  font-weight: bolder;
  font-size: 1.2em;
  font-variant: small-caps;
}
#leadTab>li>a>img {
max-height: 30px;
float: left;
margin-top: -8px;
}

#streams .list-group-item {
  border: 0;
  border-radius: 0;
  padding: 3px 10px;
}

#streams li {
  padding: 0 5px;
  border-bottom: 1px solid #696969;
  color: #F0F0F0;
  margin: 0 15px 0 0;
}
#streams li a {
  color: #6DEC45;
  -webkit-transition: color 220ms ease-in-out;
  -moz-transition: color 220ms ease-in-out;
  -ms-transition: color 220ms ease-in-out;
  -o-transition: color 220ms ease-in-out;
  transition: color 220ms ease-in-out;
}
#streams li a:hover,
#streams li a:active {
  color: #F1F1F1;
  text-decoration: none;
}
#streams li > h5 > span {
  font-weight: normal;
  font-size: .75em;
  line-height: 18px;
  vertical-align: text-top;
}
#streams li > .dateFrom {
  font-size: .75em;
  bottom: 0;
  margin: 5px;
  position: absolute;
  right: 0;
  color: rgb(211, 205, 205);
}
.label a,.label a:hover {
  color: #7E7878;
}
.friends .boxy {
  cursor: pointer;
  width: 100px;
  height: 100px;
  max-height: 100px;
  max-width: 100px;
  position: relative;
  overflow: hidden;
}
.friends .label-white {
  background: #FAFAFA;
  color: rgb(21,34,35);
}
.friends .identicon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.66;
}
.friends .flatty {
  z-index: 2;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.friends .flatty .level {  
  position: absolute;
  left: 0;
  padding: 1px 5px;
  top: 0;
  background: #FAFAFA;
}

/* Disabled */

.friends .boxy.disabled {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

.friends .boxy.active {
  -webkit-box-shadow: 0 0 12px rgb(255,255,255);
  -moz-box-shadow: 0 0 12px rgb(255,255,255);
  box-shadow: 0 0 12px rgb(255,255,255);
}

.friends .boxy.active .identicon {
  opacity: 1;
}

.friends .boxy.active .level {
  font-weight: bold;
}
.friends .boxy.active .label {
  zoom: 1.23;
  border: 1px solid rgb(21,34,35);
}
.vh-center {  
  position: relative;
  text-align: center;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 89, ../../sass/style.scss */
.online:before {
  background-color: #71d117;
  border-color: #71d117;
}

/* line 91, ../../sass/style.scss */
.online:after {
  border-radius: 50%;
  border: 1px solid #71d117;
  box-shadow: 0 0 4px rgba(113, 209, 23, 0.6), inset 0 0 4px rgba(113, 209, 23, 0.6);
  content: "";
  height: 1em;
  margin: -.78em 0 0 -.241em;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1em;
  -webkit-transform: scale(0);
  -webkit-animation: online-ping 2.5s ease-in-out infinite;
  animation: online-ping 2.5s ease-in-out infinite;
}

@-webkit-keyframes online-ping {
  /* line 111, ../../sass/style.scss */
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
  }

  /* line 112, ../../sass/style.scss */
  50% {
    opacity: .7;
  }

  /* line 113, ../../sass/style.scss */
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
}

@keyframes online-ping {
  /* line 117, ../../sass/style.scss */
  0% {
    opacity: 1;
    transform: scale(0);
  }

  /* line 118, ../../sass/style.scss */
  50% {
    opacity: .6;
  }

  /* line 119, ../../sass/style.scss */
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* line 122, ../../sass/style.scss */
.offline:before {
  background-color: rgba(148, 137, 146, 0.2);
  border-color: #948992;
}

/* line 124, ../../sass/style.scss */
.away:before {
  background-color: rgba(255, 230, 133, 0.8);
  border-color: #ffe685;
}

/* line 126, ../../sass/style.scss */
.busy:before {
  background-color: rgba(197, 56, 91, 0.4);
  border-color: #c5385b;
  -webkit-animation: busy-pulse 3s ease-in-out infinite alternate;
  animation: busy-pulse 3s ease-in-out infinite alternate;
}

@-webkit-keyframes busy-pulse {
  /* line 137, ../../sass/style.scss */
  0% {
    background-color: rgba(197, 56, 91, 0.9);
  }

  /* line 138, ../../sass/style.scss */
  50% {
    background-color: rgba(197, 56, 91, 0.4);
  }

  /* line 139, ../../sass/style.scss */
  100% {
    background-color: rgba(197, 56, 91, 0.9);
  }
}

@keyframes busy-pulse {
  /* line 143, ../../sass/style.scss */
  0% {
    background-color: rgba(197, 56, 91, 0.9);
  }

  /* line 144, ../../sass/style.scss */
  50% {
    background-color: rgba(197, 56, 91, 0.4);
  }

  /* line 145, ../../sass/style.scss */
  100% {
    background-color: rgba(197, 56, 91, 0.9);
  }
}

/**
 * Profile
 */
.no-games-alert {
  margin: 1em auto;
}
 .badggies img {
  max-width: 65px;
}
#user_header .loaderProgress {
  padding: 0;
  background: rgba(36, 39, 48, 0.83);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* CONTAINER */
/* line 158, ../../sass/style.scss */
.loaderProgress {
  height: auto;
  background: #808080;
  border: none;
}

/* PROGRESS BAR */
/* line 176, ../../sass/style.scss */
.tinyProgress {
  position: relative;
  width: 100%;
  padding:0;
  margin:0;
  height: 1em;
  border-left: 2px solid #081E5F;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: width .5s linear;
  -moz-transition: width .5s linear;
  -ms-transition: width .5s linear;
  -o-transition: width .5s linear;
  transition: width .5s linear;
}

#headNav {
  border-width: 0 0 1px;
  background-color: #242730;
  border-color: #090909;
  padding-top: .3em;
  padding-bottom: .3em;
}

#headNav > .container {
  background: inherit;
}
#headNav #user-xpbar {
  content: '';
  position: absolute;
  width: 1%;
  background: rgb(248, 255, 73);
  height: 3px;
  left: 12%;
  border: 0;
  z-index: 1;
  bottom: 6px;
  border-radius: 10px;
  transition: width 650ms ease-in-out;
}
#headNav #userdropdown:after {
  content: '';
  position: absolute;
  width: 80%;
  background: rgba(91, 133, 146, 0.79);
  height: 5px;
  left: 10%;
  border: 0;
  bottom: 5px;
  border-radius: 5px;
}
#headNav .profile-icon {
  max-height: 35px;
  max-width: 35px;
  margin: 10px 0;
  padding: 0;
}

.datetimepicker {
  color: #FAFAFA;
}
ul.nav.navbar-nav.navbar-right > a > canvas {
  background: #F1F1F1;
}

.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:hover ,.navbar-default .navbar-toggle:active,.navbar-default .navbar-toggle:focus {
 background: transparent;
 border:none;
 border-color:transparent;
}
.navbar-default .navbar-toggle i{
 color: #F9F9F9; 
}
.navbar-default .navbar-toggle:hover {
 color: #F9F9F9; 
}

/* line 283, ../../sass/style.scss */
.lefty {
  float: left;
  margin-left: 15px;
  margin-top: -3.2em;
  color: white;
  cursor: pointer;
}
.righty {
  float: right;
  margin-right: 1%;
  color: white;
  margin-top: -3.2em;
  cursor: pointer;
}

.righty.navbar-text {
  color: #fafafa;
}
.nav-tabs,.nav-tabs>li,.nav-tabs>li.active,
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
  border-radius: 0 !important;
  border-top: none !important;
  background:transparent !important;
  border-bottom: 2px solid transparent !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border-bottom: 2px solid rgba(33, 40, 48, 0.61) !important;
}

.panel-group-lists .panel {
  background:transparent;
  box-shadow: none;
}
.panel-group-lists .panel .panel-heading {
  border-bottom: 2px solid rgba(33, 40, 48, 0.61);
}
.panel-primary>.panel-heading {
  background: #2CAACC;
}
.panel-group-lists .panel-title {
  font-size: 1.25em;
  color: inherit;
}
.panel-group .panel-heading+.panel-collapse .panel-body {
  border:0;
}
.panel-group .panel-heading+.panel-collapse.card {
  border-radius: 0;
  color: rgb(250,250,250);
  background: #242730;
}
.panel-group .panel-title a {
  padding: .5em 0;
}
.panel-group .panel-title:hover a,.panel-title:hover a {
  color: rgb(38,38,38);
  text-shadow: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: rgb(37,141,170);
}
/* line 288, ../../sass/style.scss */
.liveChat {
  z-index: 5;
  width: 230px;
  background: #31343B;
  padding-top: 70px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 250ms linear; 
  -moz-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
  color: rgb(250,250,250);
}
  .liveChat.sticked, .liveChat.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  #chat-message,#chat-message:hover {
    background: #332A2A;
    outline: 0;
    width: 100%;
    height: 30px;
    padding: 0 0 0 .5em;
    border-left: 0;
    border-right: 0;
    border-top: 3px solid #2DB7EB;
    border-bottom: 3px solid #2DB7EB; 
    transition: all 220ms linear;
  }
  #chat-message:focus{
    height: 40px; 
    padding: 1em;
  }
  #chat > li {
    position: relative;
    margin: .4em 0 0 .2em;
    transition: all 600ms linear;
  }
  #chat > li > .bar-hii > .chat-date {
    font-size: 10px;
    margin: 0 2px 0 1px;
    color: #3bafda;
  }
  #chat > li > .bar-hii {
    background: #31363f;
    position: absolute;

  }
  #chat > li > .bar-hr {
    height: 1px;
    z-index: 0;
    position: absolute;
    width: 100%;
    top: 11px;
    background: #43464B;
  }
  #chat > li > p {
    padding-top: 1.5em;
    padding-left: .5em;
    padding-right: .5em;
  }
  .chat-log-event,.chat-log-event a {
    color: rgb(167, 167, 167);
    font-style: italic;
    font-size: smaller;
    margin: 3px 5px;
  }
  .chat-log-event.important,.chat-log-event.important a {
    color: rgb(226, 53, 136);
  }
.liveFeed {
  z-index: 5;
  padding-top: 65px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  background: #31343B;
  -webkit-transition: all 420ms ease; 
  -moz-transition: all 420ms ease;
  -ms-transition: all 420ms ease;
  -o-transition: all 420ms ease;
  transition: all 420ms ease;
}
  .liveFeed.sticked, .liveFeed.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

.navbar-brand img {
  max-height: 35px;
}
.navbar-default .navbar-nav>li {
  border-left: 1px solid #31363f;
  -webkit-transition: all 420ms ease; 
  -moz-transition: all 420ms ease;
  -ms-transition: all 420ms ease;
  -o-transition: all 420ms ease;
  transition: all 420ms ease;
}
.navbar-default .navbar-nav>li:hover {
  border-left: 1px solid #31363f;
}
.dropdown-menu {
  background: #242730;
}
.navbar-default .navbar-nav>li>a,.dropdown-menu>li>a{
  color: rgba(250,250,250,.7);
  line-height: 30px;
}
.navbar-default .navbar-nav>li>a{
  height: 60px;
  
}
.dropdown-menu>li:hover,.dropdown-menu>li:hover>a {
  background-color: #383A41;
}
.dropdown-menu .divider {
  border-bottom: 1px solid #31363f;
}
.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  color: rgba(250,250,250,.7);
}
/* Required to show on hover */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
hr {
  height: 1px;
  border: 0;
  background: #D8D8D8;
}
/* line 302, ../../sass/style.scss */
.navbar-toggle.lefty {
  display: block;
  /* force showing the toggle */
}

/* Button Progress */
/********************/
/* line 630, ../../sass/style.scss */
.btn-progress {
  cursor: default;
  overflow: hidden;
  position: relative;
}

/* JUI fixes */
/* line 728, ../../sass/style.scss */
.ui-autocomplete {
  background: white;
  border-bottom: 1px solid #c4c4c4;
}

/* line 733, ../../sass/style.scss */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background-color: #c4c4c4;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  border-radius: 0;
}

/* EasyPie */
/* line 744, ../../sass/style.scss */
.chart {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
}
/* line 750, ../../sass/style.scss */
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 757, ../../sass/style.scss */
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}

/* Badge */
.badge, .label {
  font-size: 12px;
  font-weight: normal;
}
/* line 765, ../../sass/style.scss */
.badgeRateVal {
  display: block;
  background: #ff520f;
  height: 4.7em;
  width: 4.7em;
  border-radius: 3.7em;
  text-decoration: none;
  text-align: center;
  border: .25em solid white;
  padding: 1em 0;
  box-shadow: 0 0 0 0.5em #cfc6d8;
  /*  box-shadow: 0 0 0 .1em white, 0 0 0 .35em red, 0 0 0 .45em white, 0 0 0 .7em red;*/
}
/* line 777, ../../sass/style.scss */
.badgeRateVal p {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  line-height: .65em;
}
/* line 778, ../../sass/style.scss */
.badgeRateVal p:nth-child(2) {
  font-size: 2.2em;
}

/* line 793, ../../sass/style.scss */
.nut {
  position: relative;
  line-height: normal;
  overflow: visible;
  display: inline-block;
  margin: 0 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 86.6665px;
  height: 50px;
  text-align: left;
}
/* line 804, ../../sass/style.scss */
.nut:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -25px;
  border-style: solid inset;
  border-width: 0 43.333px 25px;
}
/* line 813, ../../sass/style.scss */
.nut:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -25px;
  border-style: solid inset;
  border-width: 25px 43.333px 0;
}
/* line 821, ../../sass/style.scss */
.nut > div {
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  margin-left: -32.5px;
  margin-top: -32.5px;
}

/* line 855, ../../sass/style.scss */
.nut-list {
  text-align: center;
}

/* line 859, ../../sass/style.scss */
.nut {
  background-color: #74cddb;
}
/* line 838, ../../sass/style.scss */
.nut:before {
  border-color: #74cddb rgba(0, 0, 0, 0);
}
/* line 841, ../../sass/style.scss */
.nut:after {
  border-color: #74cddb rgba(0, 0, 0, 0);
}
/* line 844, ../../sass/style.scss */
.nut h3 {
  margin: 0;
  color: #74cddb;
}
/* line 848, ../../sass/style.scss */
.nut small {
  margin: 10px 0 5px;
  display: block;
  color: #74cddb;
}
/* Special hover effect */
.hover-me {
  display: inline-block;
  border-width: .5px;
  border-color: rgba(245,245,245,0);
  border-radius: 0%;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hover-me:hover {
  border-width: 0;
  border-color: rgb(54, 71, 65);
}

.hover-me.x1{border-style: solid;}
.hover-me.x2:hover{border: 2.4px dashed rgba(54, 71, 65, 0.7); border-radius: 50%;}
.hover-me.x3{border-style: dotted;}

.hover-me.yon {border: 2px solid rgba(0, 0, 0, 0.7);}
.hover-me.goo {border: 2px dashed rgba(0, 0, 0, 0.7);}
.hover-me.rok {border: 2px dotted rgba(0, 0, 0, 0.7);}
.hover-me.ryk {border: 2px double rgba(0, 0, 0, 0.7);}
.hover-me.yon:hover{border: 1px solid rgba(0, 0, 0, 0.7);}
.hover-me.goo:hover{border: 1px dashed rgba(0, 0, 0, 0.7);}
.hover-me.rok:hover{border: 1px dotted rgba(0, 0, 0, 0.7);}
.hover-me.ryk:hover{border: 1px double rgba(0, 0, 0, 0.7);}

.hover-me.x7, .hover-me.x8, .hover-me.x9 {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.hover-me.x7 {border: 2px solid rgba(0, 0, 0, 0.7);}
.hover-me.x8 {border: 2px dashed rgba(0, 0, 0, 0.7);}
.hover-me.x9 {border: 2px dotted rgba(0, 0, 0, 0.7);}
.hover-me.x7:hover {border: 1px solid rgba(0, 0, 0, 0.7);}
.hover-me.x8:hover {border: 1px dashed rgba(0, 0, 0, 0.7);}
.hover-me.x9:hover {border: 1px dotted rgba(0, 0, 0, 0.7);}

.challenge-card {
  border-radius: 0;min-height: 250px;
  -webkit-transition: all .22s ease;
  -moz-transition: all .22s ease;
  -ms-transition: all .22s ease;
  -o-transition: all .22s ease;
  transition: all .22s ease;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.challenge-card > div{
  border: 1px solid transparent;

}
.hover-me.challenge-card:hover > div{
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px rgba(197, 197, 197, 0.69);
  box-shadow: 0 2px 2px rgba(197, 197, 197, 0.69);
  -moz-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
.hover-me.challenge-card.active > div{
  border-radius: 5px;
  border-color: #274B55;

}

.hover-me.challenge-card.active > div > a,.hover-me.challenge-card > div > a,.hover-me.challenge-card:hover > div > a{
  color: inherit;
}

/* LOL SPRITES */

.lol-p-icon0,.lol-p-icon1,.lol-p-icon10,.lol-p-icon11,.lol-p-icon12,.lol-p-icon13,.lol-p-icon14,.lol-p-icon15,.lol-p-icon16,.lol-p-icon17,.lol-p-icon18,.lol-p-icon19,.lol-p-icon2,.lol-p-icon20,.lol-p-icon21,.lol-p-icon22,.lol-p-icon23,.lol-p-icon24,.lol-p-icon25,.lol-p-icon26,.lol-p-icon27,.lol-p-icon28,.lol-p-icon3,.lol-p-icon4,.lol-p-icon5,.lol-p-icon501,.lol-p-icon502,.lol-p-icon503,.lol-p-icon504,.lol-p-icon505,.lol-p-icon506,.lol-p-icon507,.lol-p-icon508,.lol-p-icon509,.lol-p-icon510,.lol-p-icon511,.lol-p-icon512,.lol-p-icon513,.lol-p-icon514,.lol-p-icon515,.lol-p-icon516,.lol-p-icon517,.lol-p-icon518,.lol-p-icon519,.lol-p-icon520,.lol-p-icon521,.lol-p-icon522,.lol-p-icon523,.lol-p-icon524,.lol-p-icon525,.lol-p-icon526,.lol-p-icon527,.lol-p-icon528,.lol-p-icon529,.lol-p-icon530,.lol-p-icon531,.lol-p-icon532,.lol-p-icon533,.lol-p-icon534,.lol-p-icon535,.lol-p-icon536,.lol-p-icon537,.lol-p-icon538,.lol-p-icon539,.lol-p-icon540,.lol-p-icon541,.lol-p-icon542,.lol-p-icon543,.lol-p-icon544,.lol-p-icon545,.lol-p-icon546,.lol-p-icon547,.lol-p-icon548,.lol-p-icon549,.lol-p-icon550,.lol-p-icon551,.lol-p-icon552,.lol-p-icon553,.lol-p-icon554,.lol-p-icon555,.lol-p-icon556,.lol-p-icon557,.lol-p-icon558,.lol-p-icon559,.lol-p-icon560,.lol-p-icon561,.lol-p-icon562,.lol-p-icon563,.lol-p-icon564,.lol-p-icon565,.lol-p-icon566,.lol-p-icon567,.lol-p-icon568,.lol-p-icon569,.lol-p-icon570,.lol-p-icon571,.lol-p-icon572,.lol-p-icon573,.lol-p-icon574,.lol-p-icon575,.lol-p-icon576,.lol-p-icon577,.lol-p-icon578,.lol-p-icon579,.lol-p-icon580,.lol-p-icon581,.lol-p-icon582,.lol-p-icon583,.lol-p-icon584,.lol-p-icon585,.lol-p-icon586,.lol-p-icon587,.lol-p-icon588,.lol-p-icon589,.lol-p-icon590,.lol-p-icon591,.lol-p-icon592,.lol-p-icon593,.lol-p-icon594,.lol-p-icon595,.lol-p-icon596,.lol-p-icon597,.lol-p-icon598,.lol-p-icon599,.lol-p-icon6,.lol-p-icon600,.lol-p-icon601,.lol-p-icon602,.lol-p-icon603,.lol-p-icon604,.lol-p-icon605,.lol-p-icon606,.lol-p-icon607,.lol-p-icon608,.lol-p-icon609,.lol-p-icon610,.lol-p-icon611,.lol-p-icon612,.lol-p-icon613,.lol-p-icon614,.lol-p-icon615,.lol-p-icon616,.lol-p-icon617,.lol-p-icon618,.lol-p-icon619,.lol-p-icon620,.lol-p-icon621,.lol-p-icon622,.lol-p-icon623,.lol-p-icon624,.lol-p-icon625,.lol-p-icon626,.lol-p-icon627,.lol-p-icon628,.lol-p-icon629,.lol-p-icon630,.lol-p-icon631,.lol-p-icon632,.lol-p-icon633,.lol-p-icon634,.lol-p-icon635,.lol-p-icon636,.lol-p-icon637,.lol-p-icon638,.lol-p-icon639,.lol-p-icon640,.lol-p-icon641,.lol-p-icon642,.lol-p-icon7,.lol-p-icon8,.lol-p-icon9 {
  display: block; background: url('../img/assets_lol/icons/profileicon0.png') no-repeat;
  /*basic */
  width: 48px;
  height: 48px;
}
.lol-p-icon0 {background-position:-0px -0px;}
.lol-p-icon1 {background-position:-48px -0px;}
.lol-p-icon10 {background-position:-96px -0px;}
.lol-p-icon11 {background-position:-144px -0px;}
.lol-p-icon12 {background-position:-192px -0px;}
.lol-p-icon13 {background-position:-240px -0px;}
.lol-p-icon14 {background-position:-288px -0px;}
.lol-p-icon15 {background-position:-336px -0px;}
.lol-p-icon16 {background-position:-384px -0px;}
.lol-p-icon17 {background-position:-432px -0px;}
.lol-p-icon18 {background-position:-0px -48px;}
.lol-p-icon19 {background-position:-48px -48px;}
.lol-p-icon2 {background-position:-96px -48px;}
.lol-p-icon20 {background-position:-144px -48px;}
.lol-p-icon21 {background-position:-192px -48px;}
.lol-p-icon22 {background-position:-240px -48px;}
.lol-p-icon23 {background-position:-288px -48px;}
.lol-p-icon24 {background-position:-336px -48px;}
.lol-p-icon25 {background-position:-384px -48px;}
.lol-p-icon26 {background-position:-432px -48px;}
.lol-p-icon27 {background-position:-0px -96px;}
.lol-p-icon28 {background-position:-48px -96px;}
.lol-p-icon3 {background-position:-144px -96px;}
.lol-p-icon4 {background-position:-192px -144px;}
.lol-p-icon5 {background-position:-384px -144px;}
.lol-p-icon501 {background-position:-432px -144px;}
.lol-p-icon502 {background-position:-0px -192px;}
.lol-p-icon503 {background-position:-48px -192px;}
.lol-p-icon504 {background-position:-96px -192px;}
.lol-p-icon505 {background-position:-144px -192px;}
.lol-p-icon506 {background-position:-192px -192px;}
.lol-p-icon507 {background-position:-240px -192px;}
.lol-p-icon508 {background-position:-288px -192px;}
.lol-p-icon509 {background-position:-336px -192px;}
.lol-p-icon510 {background-position:-384px -192px;}
.lol-p-icon511 {background-position:-432px -192px;}
.lol-p-icon512 {background-position:-0px -240px;}
.lol-p-icon513 {background-position:-48px -240px;}
.lol-p-icon514 {background-position:-96px -240px;}
.lol-p-icon515 {background-position:-144px -240px;}
.lol-p-icon516 {background-position:-192px -240px;}
.lol-p-icon517 {background-position:-240px -240px;}
.lol-p-icon518 {background-position:-288px -240px;}
.lol-p-icon519 {background-position:-336px -240px;}
.lol-p-icon520 {background-position:-384px -240px;}
.lol-p-icon521 {background-position:-432px -240px;}
.lol-p-icon522 {background-position:-0px -288px;}
.lol-p-icon523 {background-position:-48px -288px;}
.lol-p-icon524 {background-position:-96px -288px;}
.lol-p-icon525 {background-position:-144px -288px;}
.lol-p-icon526 {background-position:-192px -288px;}
.lol-p-icon527 {background-position:-240px -288px;}
.lol-p-icon528 {background-position:-288px -288px;}
.lol-p-icon529 {background-position:-336px -288px;}
.lol-p-icon530 {background-position:-384px -288px;}
.lol-p-icon531 {background-position:-432px -288px;}
.lol-p-icon532 {background-position:-0px -336px;}
.lol-p-icon533 {background-position:-48px -336px;}
.lol-p-icon534 {background-position:-96px -336px;}
.lol-p-icon535 {background-position:-144px -336px;}
.lol-p-icon536 {background-position:-192px -336px;}
.lol-p-icon537 {background-position:-240px -336px;}
.lol-p-icon538 {background-position:-288px -336px;}
.lol-p-icon539 {background-position:-336px -336px;}
.lol-p-icon540 {background-position:-384px -336px;}
.lol-p-icon541 {background-position:-432px -336px;}
.lol-p-icon542 {background-position:-0px -384px;}
.lol-p-icon543 {background-position:-48px -384px;}
.lol-p-icon544 {background-position:-96px -384px;}
.lol-p-icon545 {background-position:-144px -384px;}
.lol-p-icon546 {background-position:-192px -384px;}
.lol-p-icon547 {background-position:-240px -384px;}
.lol-p-icon548 {background-position:-288px -384px;}
.lol-p-icon549 {background-position:-336px -384px;}
.lol-p-icon550 {background-position:-384px -384px;}
.lol-p-icon551 {background-position:-432px -384px;}
.lol-p-icon552 {background-position:-0px -432px;}
.lol-p-icon553 {background-position:-48px -432px;}
.lol-p-icon554 {background-position:-96px -432px;}
.lol-p-icon555 {background-position:-144px -432px;}
.lol-p-icon556 {background-position:-192px -432px;}
.lol-p-icon557 {background-position:-240px -432px;}
.lol-p-icon558 {background-position:-288px -432px;}
.lol-p-icon559 {background-position:-336px -432px;}
.lol-p-icon560 {background-position:-384px -432px;}
.lol-p-icon561 {background-position:-432px -432px;}
.lol-p-icon562 {background-position:-0px -480px;}
.lol-p-icon563 {background-position:-48px -480px;}
.lol-p-icon564 {background-position:-96px -480px;}
.lol-p-icon565 {background-position:-144px -480px;}
.lol-p-icon566 {background-position:-192px -480px;}
.lol-p-icon567 {background-position:-240px -480px;}
.lol-p-icon568 {background-position:-288px -480px;}
.lol-p-icon569 {background-position:-336px -480px;}
.lol-p-icon570 {background-position:-384px -480px;}
.lol-p-icon571 {background-position:-432px -480px;}
.lol-p-icon572 {background-position:-0px -528px;}
.lol-p-icon573 {background-position:-48px -528px;}
.lol-p-icon574 {background-position:-96px -528px;}
.lol-p-icon575 {background-position:-336px -528px;}
.lol-p-icon576 {background-position:-384px -528px;}
.lol-p-icon577 {background-position:-432px -528px;}
.lol-p-icon578 {background-position:-0px -576px;}
.lol-p-icon579 {background-position:-48px -576px;}
.lol-p-icon580 {background-position:-96px -576px;}
.lol-p-icon581 {background-position:-144px -576px;}
.lol-p-icon582 {background-position:-192px -576px;}
.lol-p-icon583 {background-position:-240px -576px;}
.lol-p-icon584 {background-position:-288px -576px;}
.lol-p-icon585 {background-position:-336px -576px;}
.lol-p-icon586 {background-position:-384px -576px;}
.lol-p-icon587 {background-position:-432px -576px;}
.lol-p-icon588 {background-position:-0px -624px;}
.lol-p-icon589 {background-position:-48px -624px;}
.lol-p-icon590 {background-position:-96px -624px;}
.lol-p-icon591 {background-position:-144px -624px;}
.lol-p-icon592 {background-position:-192px -624px;}
.lol-p-icon593 {background-position:-240px -624px;}
.lol-p-icon594 {background-position:-288px -624px;}
.lol-p-icon595 {background-position:-336px -624px;}
.lol-p-icon596 {background-position:-384px -624px;}
.lol-p-icon597 {background-position:-432px -624px;}
.lol-p-icon598 {background-position:-0px -672px;}
.lol-p-icon599 {background-position:-48px -672px;}
.lol-p-icon6 {background-position:-144px -528px;}
.lol-p-icon600 {background-position:-96px -672px;}
.lol-p-icon601 {background-position:-144px -672px;}
.lol-p-icon602 {background-position:-192px -672px;}
.lol-p-icon603 {background-position:-240px -672px;}
.lol-p-icon604 {background-position:-288px -672px;}
.lol-p-icon605 {background-position:-336px -672px;}
.lol-p-icon606 {background-position:-384px -672px;}
.lol-p-icon607 {background-position:-432px -672px;}
.lol-p-icon608 {background-position:-0px -720px;}
.lol-p-icon609 {background-position:-48px -720px;}
.lol-p-icon610 {background-position:-96px -720px;}
.lol-p-icon611 {background-position:-144px -720px;}
.lol-p-icon612 {background-position:-192px -720px;}
.lol-p-icon613 {background-position:-240px -720px;}
.lol-p-icon614 {background-position:-288px -720px;}
.lol-p-icon615 {background-position:-336px -720px;}
.lol-p-icon616 {background-position:-384px -720px;}
.lol-p-icon617 {background-position:-432px -720px;}
.lol-p-icon618 {background-position:-0px -768px;}
.lol-p-icon619 {background-position:-48px -768px;}
.lol-p-icon620 {background-position:-96px -768px;}
.lol-p-icon621 {background-position:-144px -768px;}
.lol-p-icon622 {background-position:-192px -768px;}
.lol-p-icon623 {background-position:-240px -768px;}
.lol-p-icon624 {background-position:-288px -768px;}
.lol-p-icon625 {background-position:-336px -768px;}
.lol-p-icon626 {background-position:-384px -768px;}
.lol-p-icon627 {background-position:-432px -768px;}
.lol-p-icon628 {background-position:-0px -816px;}
.lol-p-icon629 {background-position:-48px -816px;}
.lol-p-icon630 {background-position:-96px -816px;}
.lol-p-icon631 {background-position:-144px -816px;}
.lol-p-icon632 {background-position:-192px -816px;}
.lol-p-icon633 {background-position:-240px -816px;}
.lol-p-icon634 {background-position:-288px -816px;}
.lol-p-icon635 {background-position:-336px -816px;}
.lol-p-icon636 {background-position:-384px -816px;}
.lol-p-icon637 {background-position:-432px -816px;}
.lol-p-icon638 {background-position:-0px -864px;}
.lol-p-icon639 {background-position:-48px -864px;}
.lol-p-icon640 {background-position:-96px -864px;}
.lol-p-icon641 {background-position:-144px -864px;}
.lol-p-icon642 {background-position:-192px -864px;}
.lol-p-icon7 {background-position:-192px -528px;}
.lol-p-icon8 {background-position:-240px -528px;}
.lol-p-icon9 {background-position:-288px -528px;}