
@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Signika");
/* custom scrollbar */
/* line 6, ../../sass/style.scss */
::-webkit-scrollbar {
  width: .95em;
}

/* line 10, ../../sass/style.scss */
::-webkit-scrollbar-track {
  background-color: rgba(217, 217, 217, 0.5);
}

/* line 14, ../../sass/style.scss */
::-webkit-scrollbar-thumb {
  background: rgba(184, 184, 184, 0.5);
  box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

/* COLORS */
.bittersweet {
  background: #FC6E51;
  border-color: #E9573F;
  border: 1px solid #E9573F;

  -moz-box-shadow: #E9573F 0 2px 0;
  -webkit-box-shadow: #E9573F 0 2px 0;
  box-shadow: #E9573F 0 2px 0
}
.bittersweet:hover,.bittersweet:active,.bittersweet:visited {
  background: #E9573F;
  border: 1px solid #FC6E51;
}
.mediumgrey {
  background: #CCD1D9;
  border-color: #AAB2BD;
  border: 1px solid #AAB2BD;

  -moz-box-shadow: #AAB2BD 0 2px 0;
  -webkit-box-shadow: #AAB2BD 0 2px 0;
  box-shadow: #AAB2BD 0 2px 0
}
.mediumgrey:hover,.mediumgrey:active,.mediumgrey:visited  {
  background: #AAB2BD;
  border: 1px solid #CCD1D9;
}
.mint {
  background: #48CFAD;
  border-color: #37BC9B;
  border: 1px solid #37BC9B;

  -moz-box-shadow: #37BC9B 0 2px 0;
  -webkit-box-shadow: #37BC9B 0 2px 0;
  box-shadow: #37BC9B 0 2px 0
}
.mint:hover,.mint:active,.mint:visited  {
  background: #37BC9B;
  border: 1px solid #48CFAD;
}
.grass {
  background: #A0D468;
  border-color: #8CC152;
  border: 1px solid #8CC152;

  -moz-box-shadow: #8CC152 0 2px 0;
  -webkit-box-shadow: #8CC152 0 2px 0;
  box-shadow: #8CC152 0 2px 0
}
.grass:hover,.grass:active,.grass:visited  {
  background: #8CC152;
  border: 1px solid #A0D468;
}
.sunflower {
  background: #FFCE54;
  border-color: #F6BB42;
  border: 1px solid #F6BB42;

  -moz-box-shadow: #F6BB42 0 2px 0;
  -webkit-box-shadow: #F6BB42 0 2px 0;
  box-shadow: #F6BB42 0 2px 0
}
.sunflower:hover,.sunflower:active,.sunflower:visited  {
  background: #F6BB42;
  border: 1px solid #FFCE54;
}
.pinked {
  background: #EC87C0;
  border-color: #D770AD;
  border: 1px solid #D770AD;

  -moz-box-shadow: #D770AD 0 2px 0;
  -webkit-box-shadow: #D770AD 0 2px 0;
  box-shadow: #D770AD 0 2px 0
}
.pinked:hover,.pinked:active,.pinked:visited  {
  background: #D770AD;
  border: 1px solid #EC87C0;
}
.grapefruit {
  background: #ED5565;
  border-color: #DA4453;
  border: 1px solid #DA4453;

  -moz-box-shadow: #DA4453 0 2px 0;
  -webkit-box-shadow: #DA4453 0 2px 0;
  box-shadow: #DA4453 0 2px 0
}
.grapefruit:hover,.grapefruit:active,.grapefruit:visited  {
  background: #DA4453;
  border: 1px solid #ED5565;
}


/* line 21, ../../sass/style.scss */

html, body {
  height: 100%;
  /*background: rgb(54, 71, 65);*/
  background-color: rgb(252,252,252);
  font-size: .865em;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;

}

body.modal-open .canvas{
  -webkit-filter: blur(7px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}
#animeBg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  background-color: white;
}
/* line 292, ../../sass/style.scss */
.canvas {
  color: #48504B;
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 10px 0;
  background: url('../img/px_bg.jpg') repeat;
  -webkit-box-shadow: -5px 0 5px 0 rgba(36, 29, 29, 1);
  -moz-box-shadow: -5px 0 5px 0 rgba(36, 29, 29, 1);
  -ms-box-shadow: -5px 0 5px 0 rgba(36, 29, 29, 1);
  -o-box-shadow: -5px 0 5px 0 rgba(36, 29, 29, 1);
  box-shadow: -5px 0 5px 0 rgba(36, 29, 29, 1);
  -webkit-transition: all .22s ease-in-out;
  -moz-transition: all .22s ease-in-out;
  -ms-transition: all .22s ease-in-out;
  -o-transition: all .22s ease-in-out;
  transition: all .22s ease-in-out;

}
.canvas > .container > .row {
  margin-top: 10px;
}
.modal-backdrop {background: #f7f7f7;}
.modal-content {background: #EBECEE; border: 0;}
.modal-header {
  color: #fafafa;
  background: #213c44;
  background: -moz-linear-gradient(top, #213c44 0%, #212d33 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#213c44), color-stop(100%,#212d33));
  background: -webkit-linear-gradient(top, #213c44 0%,#212d33 100%);
  background: -o-linear-gradient(top, #213c44 0%,#212d33 100%);
  background: -ms-linear-gradient(top, #213c44 0%,#212d33 100%);
  background: linear-gradient(to bottom, #213c44 0%,#212d33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213c44', endColorstr='#212d33',GradientType=0 );
}
/* line 24, ../../sass/style.scss */
.navbar-static-top {
  margin-bottom: 0;
}

/**
 * CYF Styles
 */

 .ranking_1 {
  background: url('../img/rank1.png') top left repeat-y;
  font-size: 1.3em;
  font-weight: bold;
  color: #F6BB42;
}
.ranking_2 {
  background: url('../img/rank2.png') top left repeat-y;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(160,160,160);
}
.ranking_3 {
  background: url('../img/rank3.png') top left repeat-y;
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(139,94,60);
}
ul.userlist >div > li {
  margin-top: 0;
}

ul.userlist >div > li > a > img {
 max-width: 55px;
 height: auto;
}


.value-text {
  color: rgb(240, 73,50);
  line-height: 25px;
  font-size: .875em;
  font-weight: bolder;
  vertical-align: top;
}
.value-text:before {
  content: url('../img/value.png');
  position:relative; /*or absolute*/
  line-height: 25px;
}
/* line 42, ../../sass/style.scss */
.online,
.offline,
.away,
.busy {
  display: inline-block;
  padding-left: 1em;
  position: relative;
}

/* line 52, ../../sass/style.scss */
.online:before,
.offline:before,
.away:before,
.busy:before {
  border: .5px solid blue;
  border-radius: 50%;
  box-shadow: inset 0.5px 0 0 #fafafa, inset -0.5px 0 0 #fafafa, inset 0 0.5px 0 #fafafa, inset 0 -0.5px 0 #fafafa, 0 2px 0 rgba(255, 255, 255, 0.2);
  content: "";
  height: .5em;
  margin-top: -.5em;
  position: absolute;
  top: 50%;
  left: 0;
  width: .5em;
}
/* tx LoL */

.white-stone {
  padding: 20px;
  box-sizing: border-box;
  background: #e9eaec;
  color: #333132;
  width: auto;
  position: relative;
}
/** ocss */
.grad-blue-main {
  color: #FAFAFA;
  background: #274B55 ;
  background: -moz-linear-gradient(top, #274B55  0%, #212d33 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#274B55 ), color-stop(100%,#212d33));
  background: -webkit-linear-gradient(top, #274B55  0%,#212d33 100%);
  background: -o-linear-gradient(top, #274B55  0%,#212d33 100%);
  background: -ms-linear-gradient(top, #274B55  0%,#212d33 100%);
  background: linear-gradient(to bottom, #274B55  0%,#212d33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213c44', endColorstr='#212d33',GradientType=0 );
}
.grad-white-main {
  color: rgb(21,34,35);
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(246,246,246) 66%, rgb(237,237,237) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(66%,rgb(246,246,246)), color-stop(100%,rgb(237,237,237)));
  background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(246,246,246) 66%,rgb(237,237,237) 100%);
  background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(246,246,246) 66%,rgb(237,237,237) 100%);
  background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(246,246,246) 66%,rgb(237,237,237) 100%);
  background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(246,246,246) 66%,rgb(237,237,237) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.rounded-2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.glow-shad{ 
  -webkit-box-shadow: 0 0 8px #213c44;
  -moz-box-shadow: 0 0 8px #213c44;
  box-shadow: 0 0 8px #213c44;
}
.glow-shad-white {  
  border: 2px solid  rgb(235,235,235);
  -webkit-box-shadow: 0 0 8px rgb(255,255,255);
  -moz-box-shadow: 0 0 8px rgb(255,255,255);
  box-shadow: 0 0 8px rgb(255,255,255);
}

hr.subtle-divider {
  background-color: #d9d9d9;
  border: 0;
  background-color: #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #fbfbfb;
  color: #d9d9d9;
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 2px;
}
.challenge, .friends{
  margin-top: 24px;
}
.challenge .card {
  cursor: pointer;
  margin: 0 5px 10px;  
  position: relative;
  padding: 15px;
  border: 2px solid #213c44;
  -webkit-transition: box-shadow .8s ease-out;
  -moz-transition: box-shadow .8s ease-out;
  -ms-transition: box-shadow .8s ease-out;
  -o-transition: box-shadow .8s ease-out;
  transition: box-shadow .8s ease-out;
}
.challenge .card .badge:first-child {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
.challenge .active .grad-blue-main{ 
  color: rgb(21,34,35)
}
.challenge .glow-shad:hover{ 
  border: 2px solid #325F6C; 
  -webkit-box-shadow: 0 0 12px #325F6C;
  -moz-box-shadow: 0 0 12px #325F6C;
  box-shadow: 0 0 12px #325F6C;
}
.challenge .active .glow-shad{ 
  border: 2px solid  rgb(235,235,235);
  -webkit-box-shadow: 0 0 8px rgb(255,255,255);
  -moz-box-shadow: 0 0 8px rgb(255,255,255);
  box-shadow: 0 0 8px rgb(255,255,255);
}
.challenge .active .grad-blue-main {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(246,246,246) 66%, rgb(237,237,237) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(66%,rgb(246,246,246)), color-stop(100%,rgb(237,237,237)));
  background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(246,246,246) 66%,rgb(237,237,237) 100%);
  background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(246,246,246) 66%,rgb(237,237,237) 100%);
  background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(246,246,246) 66%,rgb(237,237,237) 100%);
  background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(246,246,246) 66%,rgb(237,237,237) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );

}
.challenge .active hr.subtle-divider {
  background-color: rgb(235,235,235);
  border-top: 1px solid rgb(235,235,235);
  border-bottom: 1px solid rgb(245,245,245);
  color: rgb(235,235,235);
}
#leadTab>li>a {
  font-weight: bolder;
  font-size: 1.2em;
  font-variant: small-caps;
}
#leadTab>li>a>img {
max-height: 30px;
float: left;
margin-top: -8px;
}

#streams .list-group-item {
  border: 0;
  border-radius: 0;
  padding: 3px 10px;
}

#streams li {
  padding: 0 5px;
  border-bottom: 1px solid #696969;
  color: #F0F0F0;
  margin: 0 15px 0 0;
}
#streams li a {
  color: #6DEC45;
  -webkit-transition: color 220ms ease-in-out;
  -moz-transition: color 220ms ease-in-out;
  -ms-transition: color 220ms ease-in-out;
  -o-transition: color 220ms ease-in-out;
  transition: color 220ms ease-in-out;
}
#streams li a:hover,
#streams li a:active {
  color: #F1F1F1;
  text-decoration: none;
}
#streams li > h5 > span {
  font-weight: normal;
  font-size: .75em;
  line-height: 18px;
  vertical-align: text-top;
}
#streams li > .dateFrom {
  font-size: .75em;
  bottom: 0;
  margin: 5px;
  position: absolute;
  right: 0;
  color: rgb(211, 205, 205);
}
.friends .boxy {
  cursor: pointer;
  width: 100px;
  height: 100px;
  max-height: 100px;
  max-width: 100px;
  position: relative;
  overflow: hidden;
}
.friends .label-white {
  background: #FAFAFA;
  color: rgb(21,34,35);
}
.friends .identicon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.66;
}
.friends .flatty {
  z-index: 2;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.friends .flatty .level {  
  position: absolute;
  left: 0;
  padding: 1px 5px;
  top: 0;
  background: #FAFAFA;
}

/* Disabled */

.friends .boxy.disabled {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

.friends .boxy.active {
  -webkit-box-shadow: 0 0 12px rgb(255,255,255);
  -moz-box-shadow: 0 0 12px rgb(255,255,255);
  box-shadow: 0 0 12px rgb(255,255,255);
}

.friends .boxy.active .identicon {
  opacity: 1;
}

.friends .boxy.active .level {
  font-weight: bold;
}
.friends .boxy.active .label {
  zoom: 1.23;
  border: 1px solid rgb(21,34,35);
}
.vh-center {  
  position: relative;
  text-align: center;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 89, ../../sass/style.scss */
.online:before {
  background-color: #71d117;
  border-color: #71d117;
}

/* line 91, ../../sass/style.scss */
.online:after {
  border-radius: 50%;
  border: 1px solid #71d117;
  box-shadow: 0 0 4px rgba(113, 209, 23, 0.6), inset 0 0 4px rgba(113, 209, 23, 0.6);
  content: "";
  height: 1em;
  margin: -.78em 0 0 -.241em;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1em;
  -webkit-transform: scale(0);
  -webkit-animation: online-ping 2.5s ease-in-out infinite;
  animation: online-ping 2.5s ease-in-out infinite;
}

@-webkit-keyframes online-ping {
  /* line 111, ../../sass/style.scss */
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
  }

  /* line 112, ../../sass/style.scss */
  50% {
    opacity: .7;
  }

  /* line 113, ../../sass/style.scss */
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
}

@keyframes online-ping {
  /* line 117, ../../sass/style.scss */
  0% {
    opacity: 1;
    transform: scale(0);
  }

  /* line 118, ../../sass/style.scss */
  50% {
    opacity: .6;
  }

  /* line 119, ../../sass/style.scss */
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* line 122, ../../sass/style.scss */
.offline:before {
  background-color: rgba(148, 137, 146, 0.2);
  border-color: #948992;
}

/* line 124, ../../sass/style.scss */
.away:before {
  background-color: rgba(255, 230, 133, 0.8);
  border-color: #ffe685;
}

/* line 126, ../../sass/style.scss */
.busy:before {
  background-color: rgba(197, 56, 91, 0.4);
  border-color: #c5385b;
  -webkit-animation: busy-pulse 3s ease-in-out infinite alternate;
  animation: busy-pulse 3s ease-in-out infinite alternate;
}

@-webkit-keyframes busy-pulse {
  /* line 137, ../../sass/style.scss */
  0% {
    background-color: rgba(197, 56, 91, 0.9);
  }

  /* line 138, ../../sass/style.scss */
  50% {
    background-color: rgba(197, 56, 91, 0.4);
  }

  /* line 139, ../../sass/style.scss */
  100% {
    background-color: rgba(197, 56, 91, 0.9);
  }
}

@keyframes busy-pulse {
  /* line 143, ../../sass/style.scss */
  0% {
    background-color: rgba(197, 56, 91, 0.9);
  }

  /* line 144, ../../sass/style.scss */
  50% {
    background-color: rgba(197, 56, 91, 0.4);
  }

  /* line 145, ../../sass/style.scss */
  100% {
    background-color: rgba(197, 56, 91, 0.9);
  }
}

/**
 * Profile
 */

 #user_header {
 }
 .badggies img {
  max-width: 65px;
}
#user_header .linked a, #user_header .linked a:hover {
  color: black;
}
#user_header .loaderProgress {
  margin-top: .5em;
  margin-bottom: .5em;

  padding: 4px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
#user_header h2 a {

 color: #cecece;
 font-size: 0.8em;
}

.level {
  font-size: 2.9em;
  font-weight: bold;
  color: #27a2c9;
}
#user_header > div > div > h2 > span.level {
  font-size: .6em;
}

#scorebox .level {
  margin: 0 20px;
  font-size: 2.9em;
  font-weight: bold;
  color: #27a2c9;
}

.xp {
  font-weight: bold;
}
.loaderProgress > .xp {
  position: absolute;
  top: -1px;
  right: 5px;
  color: rgb(140, 143, 145);
  text-shadow: 0 1px 0 white;
}
h2 > #scorebox  {
  margin: 0;
}
h2 > #scorebox .level {
  margin: 0;
  font-size: 45px;
}
/* CONTAINER */
/* line 158, ../../sass/style.scss */
.loaderProgress {
  height: auto;
  background: #808080;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(gray));
  background: -webkit-linear-gradient(#666666, gray);
  background: -moz-linear-gradient(#666666, gray);
  background: -o-linear-gradient(#666666, gray);
  background: linear-gradient(#666666, #808080);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* PROGRESS BAR */
/* line 176, ../../sass/style.scss */
.tinyProgress {
  position: relative;
  width: 100%;
  height: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: width .8s ease;
  -moz-transition: width .8s ease;
  -ms-transition: width .8s ease;
  -o-transition: width .8s ease;
  transition: width .8s ease;
}

/* SPHERE */
/* line 187, ../../sass/style.scss */
.tinyProgress:after {
  position: absolute;
  right: 3px;
  top: 1.5px;
  height: 5px;
  width: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 199, ../../sass/style.scss */
.tinyBlue {
  background: #0080ff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0080ff), to(#0099ff));
  background: -webkit-linear-gradient(#0080ff, #0099ff);
  background: -moz-linear-gradient(#0080ff, #0099ff);
  background: -o-linear-gradient(#0080ff, #0099ff);
  background: linear-gradient(#0080ff, #0099ff);
  -webkit-box-shadow: 0 0 5px #1C87F1;
  -moz-box-shadow: 0 0 5px #1C87F1;
  box-shadow: 0 0 5px #1C87F1;
  border: 1px solid rgba(255, 255, 255, 0.54);
}

/* line 211, ../../sass/style.scss */
.tinyBlue:after {
  background: #82D4CB;
  -webkit-box-shadow: 0 0px 1px #2A3D4D;
  -moz-box-shadow: 0 0px 1px #2A3D4D;
  box-shadow: 0 0px 1px #2A3D4D;
}

/* line 218, ../../sass/style.scss */
.tinyGreen {
  background: #bfff00;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#bfff00), to(#99ff00));
  background: -webkit-linear-gradient(#bfff00, #99ff00);
  background: -moz-linear-gradient(#bfff00, #99ff00);
  background: -o-linear-gradient(#bfff00, #99ff00);
  background: linear-gradient(#bfff00, #99ff00);
  -webkit-box-shadow: 0 0 5px #bfff00;
  -moz-box-shadow: 0 0 5px #bfff00;
  box-shadow: 0 0 5px #bfff00;
  border: 1px solid rgba(255, 255, 255, 0.54);
}

/* line 230, ../../sass/style.scss */
.tinyGreen:after {
  background: #bfff00;
  -webkit-box-shadow: 0 0 1px #bfff00;
  -moz-box-shadow: 0 0 1px #bfff00;
  box-shadow: 0 0 1px #bfff00;
}

/* line 237, ../../sass/style.scss */
.tinyRed {
  background: #cd5c5c;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b42000), to(#cc3300));
  background: -webkit-linear-gradient(indianred, indianred);
  background: -moz-linear-gradient(indianred, indianred);
  background: -o-linear-gradient(indianred, indianred);
  background: linear-gradient(#cd5c5c, #cd5c5c);
  -webkit-box-shadow: 0 0 5px #cd5c5c;
  -moz-box-shadow: 0 0 5px #cd5c5c;
  box-shadow: 0 0 5px indianred;
  border: 1px solid rgba(255, 255, 255, 0.54);
}

/* line 249, ../../sass/style.scss */
.tinyRed:after {
  background: #cd5c5c;
  -webkit-box-shadow: 0 0 1px #cd5c5c;
  -moz-box-shadow: 0 0 1px #cd5c5c;
  box-shadow: 0 0 1px indianred;
}

/* line 256, ../../sass/style.scss */
.tinyPurple {
  background: #cd00cd;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#cd00cd), to(#cc00cc));
  background: -webkit-linear-gradient(#cd00cd, #cc00cc);
  background: -moz-linear-gradient(#cd00cd, #cc00cc);
  background: -o-linear-gradient(#cd00cd, #cc00cc);
  background: linear-gradient(#cd00cd, #cc00cc);
  box-shadow: 0 0 5px #cd00cd;
  border: 1px solid rgba(255, 255, 255, 0.54);
}

/* line 266, ../../sass/style.scss */
.tinyPurple:after {
  background: #cd00cd;
  -webkit-box-shadow: 0 0 1px #cd00cd;
  -moz-box-shadow: 0 0 1px #cd00cd;
  box-shadow: 0 0 1px #cd00cd;
}
#headNav {
  /*background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA6CAIAAAD+yqSwAAAAWUlEQVQYV3WNsQ2AQAwDz+6YgpL6pd+C8aFnFFMQQC9EFcu6c9xa89RXH9vuIIs4yIAFRhgwyJC6YydRLk71Ki+hcnn6bl1/5NyZP76ysMLLSw8zdLn8vswnKTUVpl2iSXQAAAAASUVORK5CIIA=') bottom;*/
background: url('../img/head_bg.jpg') bottom;
height: auto;
  background-repeat: repeat-x;
  border: none;
  border-color: transparent;
}

@media (max-width: 1024px) {

  #headNav {
    background: url('../img/head_bg.jpg');
  }
}
.dropdown-menu {
  background: #1b3f5a;
}
.dropdown-menu>li>a,.dropdown-menu>li>a:hover {
  color: #f7f7f7;
  text-shadow: 0 1px 0 #000;
}
.dropdown-menu>li>a:hover {
  background: #193850;
}
#headNav > .container {
  background: inherit;
}
#headNav #user-xpbar {
  content: '';
  position: absolute;
  width: 1%;
  background: rgb(248, 255, 73);
  height: 3px;
  left: 12%;
  border: 0;
  z-index: 1;
  bottom: 6px;
  border-radius: 10px;
  transition: width 650ms ease-in-out;
}
#headNav #userdropdown:after {
  content: '';
  position: absolute;
  width: 80%;
  background: rgba(200,200,200,.25);
  height: 6px;
  left: 10%;
  border: 0;
  bottom: 5px;
  border-radius: 5px;
}
#headNav .profile-icon {
  max-height: 35px;
  max-width: 35px;
  margin: 10px 0;
  padding: 0;
}
.canvas > .container {
  background: rgba(255, 255, 255, 0.88);
  box-shadow: 0 1px 2px 0 rgba(139, 139, 139, 1);
  border-radius: 5px;
}
.datetimepicker {
  color: #FAFAFA;
}
ul.nav.navbar-nav.navbar-right > a > canvas {
  background: #F1F1F1;
}

.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:hover ,.navbar-default .navbar-toggle:active,.navbar-default .navbar-toggle:focus {
 background: transparent;
 border:none;
 border-color:transparent;
}
.navbar-default .navbar-toggle i{
 color: #F9F9F9; 
}
.navbar-default .navbar-toggle:hover {
 color: #F9F9F9; 
}

/* line 283, ../../sass/style.scss */
.navbar-toggle.lefty {
  float: left;
  margin-left: 15px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #50677a;
  color: #FFF;
}
/* line 288, ../../sass/style.scss */
.navmenu {
  z-index: 1;
  padding-top: 65px;
  background: url('../img/px_bg.png') repeat;
}
.navbar-brand {
  padding: 5px;
}
.navbar-brand img {
  max-width: 95px;
  height: auto;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover  {
  color: #f7f7f7;
  text-shadow: 0 1px 0 #000;
  -webkit-transition: all .22s ease;
  -moz-transition: all .22s ease;
  -ms-transition: all .22s ease;
  -o-transition: all .22s ease;
  transition: all .22s ease;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  font-weight: bold;
  background-color: transparent;
}

@media (max-width: 767px) {

  .navbar-nav {
  margin: 0 -15px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    border-color: transparent;
  }
  .dropdown-menu>li>a,.dropdown-menu>li>a:hover {
    color: #f7f7f7;
    text-shadow: 0 1px 0 #000;
  }
  .dropdown-menu>li>a:hover {
    background: #193850;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #f7f7f7;
    text-shadow: 0 1px 0 #000;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #fff;
  background-color: #1c3f5b;
  }
  .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    padding-left: 22px;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: rgb(58, 101, 124);
  }

  #headNav #userdropdown:after {
    content: '';
    display: none;
  }
}
@media (min-width: 768px){
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
  }

}
hr {
  height: 1px;
  border: 0;
  background: #D8D8D8;
}

@media (min-width: 0) {
  /* line 302, ../../sass/style.scss */
  .navbar-toggle.lefty {
    display: block;
    /* force showing the toggle */
  }
}
@media (min-width: 992px) {
  /* line 308, ../../sass/style.scss */
  body {
    padding: 0;
  }

  /* line 311, ../../sass/style.scss */
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}

/* FORM UPDATE */
/* line 607, ../../sass/style.scss */
input.gStyle {
  padding: 8px;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  background: none;
  background: linear-gradient(90deg, #c4c4c4 1px, #c4c4c4 1px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, #c4c4c4 1px, #c4c4c4 1px, rgba(0, 0, 0, 0) 0px);
  background-position: bottom left, bottom right;
  background-size: 1px 5px;
  background-repeat: no-repeat;
  font-weight: normal;
  font-size: 16px;
}
/* line 620, ../../sass/style.scss */
input.gStyle:focus {
  box-shadow: none;
  border-bottom-color: #0093c7;
  background: linear-gradient(90deg, #00a3d9 1px, #00a3d9 1px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, #00a3d9 1px, #00a3d9 1px, rgba(0, 0, 0, 0) 0px);
}

/* Button Progress */
/********************/
/* line 630, ../../sass/style.scss */
.btn-progress {
  cursor: default;
  overflow: hidden;
  position: relative;
}
/* line 634, ../../sass/style.scss */
.btn-progress:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "Processing";
  color: #ffffff;
  background-color: #0b4986;
  background: -moz-linear-gradient(top, #123b6e, #005dab);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#123b6e), to(#005dab));
  background: -webkit-linear-gradient(top, #123b6e, #005dab);
  background: -o-linear-gradient(top, #123b6e, #005dab);
  background: linear-gradient(to bottom, #123b6e, #005dab);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff123b6e', endColorstr='#ff005dab', GradientType=0);
  background-color: #005dab;
  background: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 0.5s linear infinite;
  -moz-animation: progress-bar-stripes 0.5s linear infinite;
  -ms-animation: progress-bar-stripes 0.5s linear infinite;
  -o-animation: progress-bar-stripes 0.5s linear infinite;
  animation: progress-bar-stripes 0.5s linear infinite;
}

/* Animate Progress */
/********************/
/* Webkit */
@-webkit-keyframes progress-bar-stripes {
  /* line 673, ../../sass/style.scss */
  to {
    background-position: 40px 0;
  }

  /* line 676, ../../sass/style.scss */
  from {
    background-position: 0 0;
  }
}

/* Firefox */
@-moz-keyframes progress-bar-stripes {
  /* line 684, ../../sass/style.scss */
  to {
    background-position: 40px 0;
  }

  /* line 687, ../../sass/style.scss */
  from {
    background-position: 0 0;
  }
}

/* IE9 */
@-ms-keyframes progress-bar-stripes {
  /* line 695, ../../sass/style.scss */
  from {
    background-position: 40px 0;
  }

  /* line 698, ../../sass/style.scss */
  to {
    background-position: 0 0;
  }
}

/* Opera */
@-o-keyframes progress-bar-stripes {
  /* line 706, ../../sass/style.scss */
  to {
    background-position: 40px 0;
  }

  /* line 709, ../../sass/style.scss */
  from {
    background-position: 0 0;
  }
}

/* Spec */
@keyframes progress-bar-stripes {
  /* line 717, ../../sass/style.scss */
  to {
    background-position: 40px 0;
  }

  /* line 720, ../../sass/style.scss */
  from {
    background-position: 0 0;
  }
}

/* JUI fixes */
/* line 728, ../../sass/style.scss */
.ui-autocomplete {
  background: white;
  border-bottom: 1px solid #c4c4c4;
}

/* line 733, ../../sass/style.scss */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background-color: #c4c4c4;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  border-radius: 0;
}

/* EasyPie */
/* line 744, ../../sass/style.scss */
.chart {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
}
/* line 750, ../../sass/style.scss */
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 757, ../../sass/style.scss */
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}

/* Badge */
/* line 765, ../../sass/style.scss */
.badgeRateVal {
  display: block;
  background: #ff520f;
  height: 4.7em;
  width: 4.7em;
  border-radius: 3.7em;
  text-decoration: none;
  text-align: center;
  border: .25em solid white;
  padding: 1em 0;
  box-shadow: 0 0 0 0.5em #cfc6d8;
  /*  box-shadow: 0 0 0 .1em white, 0 0 0 .35em red, 0 0 0 .45em white, 0 0 0 .7em red;*/
}
/* line 777, ../../sass/style.scss */
.badgeRateVal p {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  line-height: .65em;
}
/* line 778, ../../sass/style.scss */
.badgeRateVal p:nth-child(2) {
  font-size: 2.2em;
}

/* line 793, ../../sass/style.scss */
.nut {
  position: relative;
  line-height: normal;
  overflow: visible;
  display: inline-block;
  margin: 0 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 86.6665px;
  height: 50px;
  text-align: left;
}
/* line 804, ../../sass/style.scss */
.nut:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -25px;
  border-style: solid inset;
  border-width: 0 43.333px 25px;
}
/* line 813, ../../sass/style.scss */
.nut:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -25px;
  border-style: solid inset;
  border-width: 25px 43.333px 0;
}
/* line 821, ../../sass/style.scss */
.nut > div {
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  margin-left: -32.5px;
  margin-top: -32.5px;
}

/* line 855, ../../sass/style.scss */
.nut-list {
  text-align: center;
}

/* line 859, ../../sass/style.scss */
.nut {
  background-color: #74cddb;
}
/* line 838, ../../sass/style.scss */
.nut:before {
  border-color: #74cddb rgba(0, 0, 0, 0);
}
/* line 841, ../../sass/style.scss */
.nut:after {
  border-color: #74cddb rgba(0, 0, 0, 0);
}
/* line 844, ../../sass/style.scss */
.nut h3 {
  margin: 0;
  color: #74cddb;
}
/* line 848, ../../sass/style.scss */
.nut small {
  margin: 10px 0 5px;
  display: block;
  color: #74cddb;
}
/* Special hover effect */
.hover-me {
  cursor: pointer;
  display: inline-block;
  border-width: .5px;
  border-color: rgba(245,245,245,0);
  border-radius: 0%;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  -webkit-transition: all .22s ease;
  -moz-transition: all .22s ease;
  -ms-transition: all .22s ease;
  -o-transition: all .22s ease;
  transition: all .22s ease;
}

.hover-me:hover {
  border-width: 0;
  border-color: rgb(54, 71, 65);
}

.hover-me.x1{border-style: solid;}
.hover-me.x2:hover{border: 2.4px dashed rgba(54, 71, 65, 0.7); border-radius: 50%;}
.hover-me.x3{border-style: dotted;}

.hover-me.yon {border: 2px solid rgba(0, 0, 0, 0.7);}
.hover-me.goo {border: 2px dashed rgba(0, 0, 0, 0.7);}
.hover-me.rok {border: 2px dotted rgba(0, 0, 0, 0.7);}
.hover-me.ryk {border: 2px double rgba(0, 0, 0, 0.7);}
.hover-me.yon:hover{border: 1px solid rgba(0, 0, 0, 0.7);}
.hover-me.goo:hover{border: 1px dashed rgba(0, 0, 0, 0.7);}
.hover-me.rok:hover{border: 1px dotted rgba(0, 0, 0, 0.7);}
.hover-me.ryk:hover{border: 1px double rgba(0, 0, 0, 0.7);}

.hover-me.x7, .hover-me.x8, .hover-me.x9 {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.hover-me.x7 {border: 2px solid rgba(0, 0, 0, 0.7);}
.hover-me.x8 {border: 2px dashed rgba(0, 0, 0, 0.7);}
.hover-me.x9 {border: 2px dotted rgba(0, 0, 0, 0.7);}
.hover-me.x7:hover {border: 1px solid rgba(0, 0, 0, 0.7);}
.hover-me.x8:hover {border: 1px dashed rgba(0, 0, 0, 0.7);}
.hover-me.x9:hover {border: 1px dotted rgba(0, 0, 0, 0.7);}

.challenge-card {
  border-radius: 0;min-height: 200px;
  -webkit-transition: all .22s ease;
  -moz-transition: all .22s ease;
  -ms-transition: all .22s ease;
  -o-transition: all .22s ease;
  transition: all .22s ease;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.challenge-card > div{
  border: 1px solid transparent;
  min-height: 200px;
}
.hover-me.challenge-card:hover > div{
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px rgba(197, 197, 197, 0.69);
  box-shadow: 0 2px 2px rgba(197, 197, 197, 0.69);
  -moz-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
.hover-me.challenge-card.active > div{
  border-radius: 5px;
  border-color: #274B55;

}

.hover-me.challenge-card.active > div > a,.hover-me.challenge-card > div > a,.hover-me.challenge-card:hover > div > a{
  color: inherit;
}