// Resets --------------------------------------------------------------------

div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
  background transparent
  border 0
  font-size 100%
  margin 0
  outline 0
  padding 0
  vertical-align baseline

body 
  line-height:1;

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display block

nav ul
  list-style none

blockquote, q
  quotes none

blockquote:before, blockquote:after,
q:before, q:after
  content ''
  content none

// Variables  -----------------------------------------------------------------
mainBg                = rgb(19 ,22,24)
orangeBg              = rgb(239,161,51)
whiteBg               = rgb(244,241,241)
bgBlack               = rgb(22,22,22)
bgMenuBlack           = rgb(42,42,42)

bgImg                 = url(../images/mbg.jpg)
sprites               = url(../images/menui.png) no-repeat
hoverWhite            = rgb(253,253,253)
          
borderColorW           = rgb(223,223,223)

containerWidth        = 82.58%
menuWidth             = 17.52%
headerHeight          = 2.853em


borderSimple          = 1px solid borderColor
borderSimpleH         = 1px solid orangeBg

// Hauteur des box titles/menus 
boxH                  = 2.175em  
roundSize             = 0.59em 
paddingTextBox        = 0.5em 0.8em 0.5em 0.8em

//Functions

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

// Base ----------------------------------------------------------------------


html, body
  font-size: 98.08%
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  -webkit-text-size-adjust: 100%
  background-color: mainBg
  margin: 0
  padding: 0
  min-height: 100%
  height: 100%


body, legend, input, textarea, button
  font-family: 'Roboto Condensed', sans-serif
  line-height:  1.4
  color:  #333

a:link, a:visited
  color: orangeBg
  text-decoration: none

a:focus, a:hover, a:visited:hover
  color: orangeBg
/* Generic pane rules */

.page { left: 0; right: 0; top: 0; bottom: 0; }
.row, .col, .page { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; -webkit-overflow-scrolling: touch; }
.scroll-y { overflow-y: auto; -webkit-overflow-scrolling: touch; }
.fill, .pane { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100% }
.pane { display: none; }

/* Workaround: in landscape mode, IEMobile makes bottom toolbar overlap the page, so shorten the page by 75px to compensate */
.iemobile .page { bottom: -6px; }

.left.col  
  width: containerWidth
  background-image: url(../images/bg.jpg)
  background-repeat: repeat-y
  background-color: mainBg
  background-position: top left

.right.col
  right: 0
  width: menuWidth

.header.row { height: 63px; line-height: 63px; }
.body.row 
  top:headerHeight
  bottom: 50px

.footer.row
  position: absolute
  height: boxH 
  bottom: 0 
  line-height: boxH
  background: bgImg repeat
  h5
    font-variant: small-caps
    font-size: .95em
    color: rgb(201, 201, 201)
#sfilter
  background: url(../images/sfilter.png) repeat top left
  height: 100%
  width: 100%
  z-index:10
  position: absolute
  margin-top: -900%
  -webkit-transition: margin 200ms ease-in-out
  -moz-transition: margin 200ms ease-in-out
  -ms-transition: margin 200ms ease-in-out
  -o-transition: margin 200ms ease-in-out
  transition: margin 200ms ease-in-out
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);


// Specifics ------------------------------------------------------------------

//Login
div#landing
  background: #0e1010 url(../images/landing.jpg) center center no-repeat
  position: absolute
  margin: 0
  padding: 0
  width: 100% 
  min-height: 100% 
  z-index: 999
  background-color: #0d0f0f
  -moz-box-shadow: -1px 5px 5px rgba(0,0,0,.35)
  -webkit-box-shadow: -1px 5px 5px rgba(0,0,0,.35)
  box-shadow: -1px 5px 5px rgba(0,0,0,.35)
  -webkit-transition: margin-top 2566ms ease-in-out
  -webkit-transition: margin-top 2566ms ease-in-out
  -moz-transition: margin-top 2566ms ease-in-out
  -ms-transition: margin-top 2566ms ease-in-out
  -o-transition: margin-top 2566ms ease-in-out
  transition: margin-top 2566ms ease-in-out
  transform: translate3d(0,0,0)
  -webkit-transform: translate3d(0,0,0)

section#auth
  position: absolute
  margin: 0
  padding: 0
  width: 100% 
  min-height: 100% 
  background: #141414 url(../images/authbg.jpg) center center no-repeat
  div.logbox
    position: relative
    margin: 120px auto
    height: 430px
    width:580px
    background: transparent url(../images/loginbox.png) center center no-repeat
    div.items
      position: absolute
      top: 50%
      left: 50%
      margin: 0 -60px
      a
        background: transparent url(../images/gplus.png) top left no-repeat
        height: 44px
        width:222px
        display:block
        text-align:center
        vertical-align: center
        line-height: 44px
        margin: -22px 0 0 -45px
        color: #e0d2cc
        font-size: 16px
//layout
#menu
  header.header
    background: url(../images/logo-min.png) top left no-repeat
    height: headerHeight
    h1
      font-weight: bold
      text-align: center
      vertical-align: middle
      line-height: 1.5em
      font-size: 1.78em
      visibility: hidden
      display: block
  section
    ul.nav
      li
        cursor: pointer
        border-radius: 5px
        box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 3px
        border-style: solid
        border-width: 1px
        border-color: rgb(48, 48, 48) rgb(17, 17, 17) rgb(10, 10, 10)
        background-color: rgb(28,28,28)
        padding: 8px 8px 0
        margin: 3%
        font-size: 11pt
        color: #888888
        text-align: center
        display:block
        overflow: hidden
        figure
          margin 5px 0
          img
            height: 99px
            width:213px
            border-radius: 5px
/*
 section
   ul
     li
       a
         background: sprites
         display: block
         margin: 0 0 0 50%
         padding: paddingTextBox
         background-position: 0 -40px
         width: 211px
         -webkit-transition: margin-left 366ms ease-in-out
         -webkit-transition: margin-left 288ms ease-in-out
         -moz-transition: margin-left 288ms ease-in-out
         -ms-transition: margin-left 288ms ease-in-out
         -o-transition: margin-left 288ms ease-in-out
         transition: margin-left 288ms ease-in-out
       a:hover
         background-position: 0 0
         margin: 0 0 0 33%
*/
#content
  section
    article#html5_player
      margin: 0 auto
      padding: 0
      width: 100%
      div#head
        width: 100%
        line-height: boxH
        padding: 0
        height: boxH
        color: rgb( 145,145,145)
        text-shadow: 0 1px 0 rgba(15,15,15,.75) /* drop shadow */
        h1
          margin: 0 1em
          line-height: boxH
          font-size: 15.5px
          font-weight: normal
      .container
        position: relative
        padding-bottom: 52%
        height: 0
        margin-top: @height
        overflow: hidden
        background: #000000
        .video-js
          position: absolute
          width: 100% !important
          height: 100% !important
      //  .vjs-default-skin
      //  video
      //    position: absolute
      //    z-index:11
      //    top: 0
      //    left: 0
      //    width: 100%
      //    height: 100%
      //  .subtitles, #subContent
      //    position: absolute
      //    background-color: rgba(0, 0, 0, 0.116094)
      //    bottom: 33px
      //    font-size: 20px
      //    color: #FFFFFF
      //    font-weight: bold
      //    margin-left: 10%
      //    text-align: center
      //    min-width: 20%
      //    width: 80%
      //    font-family: Helvetica, Arial, sans-serif
      //    text-shadow: black 1px 0px 0px
      //    z-index: 999999
      //    opacity: 1

    aside
      position: absolute
      top: 1%
      right: 1%
// Captions
.video-js .vjs-captions 
  color: #FAFAFA
  font-size: 1.888em
.video-js .vjs-text-track 
  display: none
  color: #fafafa
  font-size: 1.898em
  text-align: center
  margin-bottom: .1em
  background: transparent



// Genegal Assets -------------------------------------------------------------
//Backgrounds
.bg1
  background: url(../images/bg_1.png) repeat-x
// Boxes

.whiteBox
  background: whiteBg

// Shadows

.shadow-box
  -webkit-box-shadow: 0 2px 0 borderColor
  -moz-box-shadow:    0 2px 0 borderColor
  box-shadow:         0 2px 0 borderColor

.shadow-box-strong
  -webkit-box-shadow: 0 15px 15px 0 rgb(17,17,17)
  -moz-box-shadow:    0 15px 15px 0 rgb(17,17,17)
  box-shadow:         0 15px 15px 0 rgb(17,17,17)

// Round

.round
  -webkit-border-radius: roundSize
  -moz-border-radius: roundSize
  border-radius: roundSize

.round-top 
  border-top-left-radius: roundSize
  border-top-right-radius: roundSize


// Media Queries
@media screen and (orientation:landscape) { .iemobile .page { bottom: 75px; } }

::-webkit-scrollbar
    width: 9px

 
::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) 
    border-radius: 10px
    background: rgb(17, 19, 22)

 
::-webkit-scrollbar-thumb
    border-radius: 10px
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)
    background: rgb(42, 47, 53)
