html, body 
  height 100%

.full 
  height 100%

.container-fluid
  padding 0
#toggle
  cursor pointer
  width 28px
  height 30px
  margin 10px auto
  div
    width 100%
    height 5px
    background #d2d2d2
    margin 4px auto
    transition all 0.3s
    backface-visibility hidden
a 
  text-decoration none


#navMenu
  backface-visibility hidden
  background-color #fff
  border-top 1px solid #e5e5e5
  margin-left -130%
  overflow-x hidden
  overflow-y auto
  padding-left 20px
  -webkit-box-shadow 0 0 40px rgba(0,0,0,.4)
  box-shadow 0 0 40px rgba(0,0,0,.4)
  -webkit-transition margin-left .689ms ease-in-out
  &.active
    margin-left 0
  a
    display block
    height 44px
    padding 0 0 0 20px
    text-decoration none
    color #737373
    font-size .83em
    margin-left 8px
    margin-bottom 2px
    max-width 162px
    overflow hidden
    text-overflow ellipsis
    vertical-align bottom
    white-space nowrap
    &:hover
      background #ecf0f1 
      color #999
#notAMenu
  margin-left 20px
#content
  header
    h1
      padding 0 0 10px
      color #333
      margin 0 1% 40px
      text-align left
      box-shadow 0 .15em 0 rgba(0,0,0,0.03)
      text-shadow 0 0 .2 #fff

.tile
  position relative
  height 70px
  opacity 0
  cursor pointer
  border 1px solid #d8d8d8
  -webkit-border-radius 3px
  border-radius 3px
  background-color #fff
  border-bottom-width 2px
  margin 10px 10px 20px 0
  padding 25px
  h2
    font 300 20px Roboto,arial,sans-serif
    color #333
    font-size 1.359em
    font-weight bold
      



//scrollbar
::-webkit-scrollbar
  height 16px
  overflow visible
  width 16px

::-webkit-scrollbar-thumb
  background-color rgba(0,0,0,.2)
  background-clip padding-box
  border solid transparent
  border-width 1px 1px 1px 6px
  min-height 28px
  padding 100px 0 0
  box-shadow inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)

::-webkit-scrollbar-button
  height 0
  width 0

::-webkit-scrollbar-track
  background-clip padding-box
  border solid transparent
  border-width 0 0 0 4px

::-webkit-scrollbar-corner
  background transparent









// Loading animation
//#loaded
//  visibilty hidden
//  opacity 0
//
//.loading-container
//  display block
//  margin 150px auto
//
//.loading-container, .loading
//  height 100px
//  position relative
//  width 100px
//  border-radius 100%
//
//.loading
//  border 2px solid transparent
//  -moz-animation rotate-loading 1.5s linear 0s infinite normal
//  -moz-transform-origin 50% 50%
//  -o-animation rotate-loading 1.5s linear 0s infinite normal
//  -o-transform-origin 50% 50%
//  -webkit-animation rotate-loading 1.5s linear 0s infinite normal
//  -webkit-transform-origin 50% 50%
//  animation rotate-loading 1.5s linear 0s infinite normal
//  transform-origin 50% 50%
//
//.loading-container:hover .loading, .loading-container .loading
//  -webkit-transition all 0.5s ease-in-out
//  -moz-transition all 0.5s ease-in-out
//  -ms-transition all 0.5s ease-in-out
//  -o-transition all 0.5s ease-in-out
//  transition all 0.5s ease-in-out
//
//#loading-text
//  -moz-animation loading-text-opacity 3.7s linear 0s infinite normal
//  -o-animation loading-text-opacity 3.7s linear 0s infinite normal
//  -webkit-animation loading-text-opacity 3.7s linear 0s infinite normal
//  animation loading-text-opacity 3.7s linear 0s infinite normal
//  color #888
//  font-size 10px
//  font-weight bold
//  margin-top 45px
//  opacity 0
//  position absolute
//  text-align center
//  text-transform uppercase
//  top 0
//  width 100px

//@keyframes rotate-loading {
//    0%  {
//      transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0);-ms-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0); -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0); -o-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0); -moz-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0);  
//      box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
//    }
//    65%, 100% { 
//      transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0);-ms-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0); -webkit-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0); -o-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0); -moz-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0);
//      box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
//    }
//}
//
//@-moz-keyframes rotate-loading {
//    0%  {
//     transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0);-ms-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0); -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0); -o-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0); -moz-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0);  
//      box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
//    }
//    65%, 100% { 
//      transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0);-ms-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0); -webkit-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0); -o-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0); -moz-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0);
//      box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
//    }
//}
//
//@-webkit-keyframes rotate-loading {
//    0%  {
//     transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0);-ms-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0); -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0); -o-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0); -moz-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0);  
//      box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
//    }
//    65%, 100% { 
//      transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0);-ms-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0); -webkit-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0); -o-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0); -moz-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0);
//      box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
//    }
//}
//
//@-o-keyframes rotate-loading {
//    0%  {
//     transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0);-ms-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0); -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0); -o-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0); -moz-transform: rotateZ(0deg) scaleX(1) scaleY(1) translateZ(0);  
//      box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
//    }
//    65%, 100% { 
//      transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0);-ms-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0); -webkit-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0); -o-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0); -moz-transform: rotateZ(1700deg) scaleX(2.01) scaleY(2.10007985) translateZ(0);
//      box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
//    }
//}
//
//@keyframes loading-text-opacity {
//    0%  {opacity: .3}
//    20% {opacity: .5}
//    50% {opacity: 1}
//    100%{opacity: .2}
//}
//
//@-moz-keyframes loading-text-opacity {
//    0%  {opacity: .3}
//    20% {opacity: .5}
//    50% {opacity: 1}
//    100%{opacity: .2}
//}
//
//@-webkit-keyframes loading-text-opacity {
//    0%  {opacity: .3}
//    20% {opacity: .5}
//    50% {opacity: 1}
//    100%{opacity: .2}
//}
//
//@-o-keyframes loading-text-opacity {
//    0%  {opacity: .3}
//    20% {opacity: .5}
//    50% {opacity: 1}
//    100%{opacity: .2}
//}//