
    <!--  FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <section class="col-lg-3">
            <h4>links</h4>
            <a href="https://plus.google.com/109925245483936264439" rel="publisher">Google+</a>
          </section>
        </div>        
      </div>
    </footer>
<script src="/js/init.js"></script>
