    <!--  FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <section class="col-md-12">
            <a href="https://plus.google.com/109925245483936264439" title="Follow us on Goolg+!" target="_blank" rel="publisher">Google+</a>
            | <a href="https://twitter.com/cyf_app" title="Follow us on Twitter!" target="_blank">Twitter</a>
            | <a href="https://www.facebook.com/cyfapp" title="Like us on Facebook!" target="_blank">Facebook</a>

            <a href="./about" class="pull-right" title="Like us on Facebook!">About</a>            
          </section>
        </div>        
      </div>
    </footer>
<script src="/js/init.js"></script>
