	<!-- Static navbar -->
	<div class="navbar navbar-default navbar-static-top" id="headNav" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-ellipsis-v"></i>
				</button>
				<a class="navbar-brand animated flipInX" href="./">
					<img src="./img/tinylogo.png" >
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active animated bounceIn"><a href="/profile">Home</a></li>
					<li class=" animated bounceIn"><a href="/users">Who's here ?</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>