extends layout

block content

	section#content
		header
			h1 lol

		
		section.row-fluid
			.span2
				button.btn.btn-success lol

		section#skills.row-fluid
			.offset.span10
				.tile.span2
					h2 Me
				.tile.span2 
					h2 Skills
				.tile.span2 
					h2 Contact
				.tile.span2 
					h2 Resume