doctype 5
html
	head
		script.
			console.time('load')
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/animate.min.css')    
		
		link(rel='stylesheet', href='/stylesheets/style.css')

		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable = no")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")

	body

		//.loading-container
		//	.loading
		//	#loading-text Loading
		.container-fluid.full
			.row-fluid.full
				#navMenu.span2.full
					.tab 
						a(href="") aa
					.tab 
						a(href="") aa
					.tab 
						a(href="") aa	
				#notAMenu.span10.full			
					#toggle.span1
						.one
						.two
						.three
					block content

		//script(src='/javascripts/init.js')
		script.

			src = [
				'/javascripts/main.js',
				'/javascripts/zepto.min.js'
				//'//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js'			    
			];
			for (var i = src.length - 1; i >= 0; i--) {
				(function (j){	
					document.write('<sc' + 'ript type="text/javascript" async="true" src="' + src[j] + '"></sc' + 'ript>');	
					//var bat = document.createElement('script'); bat.type = 'text/javascript'; 
					////bat.async = true;
					//bat.src = src[j];
					//var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(bat, s);
				}(i));
			}


		script.
			console.timeEnd('load')