doctype 5
html(lang="en")
	head
		meta(charset="utf-8")
		title Welcome to FyCast [dev]
		link(href="http://vjs.zencdn.net/c/video-js.css",rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='http://www.google.com/fonts/#QuickUsePlace:quickUse/Family:Roboto+Condensed:400,700',rel="stylesheet",type="text/css")

	body

		block content 

		footer.footer.row
			h5 FyCast, torrent sharing with you friends
		script(src='http://vjs.zencdn.net/c/video.js')
		script(src='/javascripts/jquery-2.0.0.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js')
		script(src='/javascripts/landing.js')
		script(src='/javascripts/main.js')
		script(src='/javascripts/blur.js')