	<!-- Static navbar -->
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./">CyF <small>ALPHA</small></a>
			</div>
			<% if (currentUser) { %>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/profile">Home</a></li>
					<li><a href="/users">Who's here ?</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">

				<li><a href="/profile"><span class="glyphicon glyphicon-user"></span><%= currentUser.local.pseudo %></a></li>

		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Challenges <b class="caret"></b></a>
		          <ul class="dropdown-menu">
					<li><a href="/ongoing">Ongoing</a></li>
					<li><a href="/request">Requests</a></li>
					<li><a href="/newChallenge">Create</a></li>
					<li><a href="/myChallenges">My Challenges</a></li>
		            <li class="divider"></li>
					<li><a class="bg-danger" href="/launchChallenge">Launch</a></li>
		            <li class="divider"></li>
					<li><a href="/tribunal">Tribunal</a></li>
		          </ul>
		        </li>
				</ul>
			</div><!--/.nav-collapse -->
			<% } %>
		</div>
	</div>